Repository electron-userland/electron-builder, pull requests merged in 2021-09, with the labels that each got.

#6212 fix: (mac) Fix intel mac upgrade flow when both x64 and arm64 published
  .changeset/lovely-coats-grow.md
  packages/electron-updater/src/MacUpdater.ts
Labels: electron-updater

#6228 feat: adding Bitbucket publisher and autoupdater
  .changeset/shiny-colts-behave.md
  docs/api/electron-builder.md
  docs/configuration/publish.md
  docs/generated/DebOptions.md
  docs/generated/bitbucket-options.md
  docs/generated/s3-options.md
  docs/generated/snap-store-options.md
  docs/generated/spaces-options.md
  packages/app-builder-lib/package.json
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/linuxOptions.ts
  packages/app-builder-lib/src/publish/BitbucketPublisher.ts
  packages/app-builder-lib/src/publish/KeygenPublisher.ts
  packages/app-builder-lib/src/publish/PublishManager.ts
  packages/builder-util-runtime/src/httpExecutor.ts
  packages/builder-util-runtime/src/index.ts
  packages/builder-util-runtime/src/publishOptions.ts
  packages/electron-publish/src/publisher.ts
  packages/electron-updater/src/providerFactory.ts
  packages/electron-updater/src/providers/BitbucketProvider.ts
  pnpm-lock.yaml
  scripts/jsdoc2md2html.js
  test/src/ArtifactPublisherTest.ts
  test/src/helpers/updaterTestUtil.ts
  test/src/updater/nsisUpdaterTest.ts
Labels: linux, electron-updater, app-builder-lib, electron-publish, builder-util

#6244 fix: dmg-license optional dependency
  .changeset/orange-socks-refuse.md
  .changeset/polite-birds-chew.md
  packages/app-builder-lib/package.json
  pnpm-lock.yaml
Labels: app-builder-lib

#6248 fix: dmg-license-dependency
  .changeset/stale-rocks-wonder.md
  netlify-docs.sh
  netlify.toml
  package.json
  packages/app-builder-lib/package.json
  packages/dmg-builder/package.json
  pnpm-lock.yaml
Labels: mac, app-builder-lib, dmg-builder

#6247 fix(msi): fix broken shortcut icon when using msi target
  .changeset/tiny-dolls-smoke.md
  packages/app-builder-lib/src/options/MsiOptions.ts
  packages/app-builder-lib/src/targets/MsiTarget.ts
  packages/app-builder-lib/templates/msi/template.xml
Labels: app-builder-lib

#6277 fix(nsis): internationalize appCannotBeClosed
  .changeset/wild-rabbits-do.md
  packages/app-builder-lib/templates/nsis/messages.yml
Labels: app-builder-lib

#6287 fix: add appCannotBeClosed text for zh_CN
  .changeset/giant-masks-provide.md
  packages/app-builder-lib/templates/nsis/messages.yml
Labels: app-builder-lib
