Repository electron-userland/electron-builder, pull requests merged in 2021-07, with the labels that each got.

#6023 fix: write blockmap file for mac zip archives
  .github/issue_template.md
  .github/workflows/issue-labeler.yml
  packages/app-builder-lib/src/targets/ArchiveTarget.ts
  test/snapshots/mac/macArchiveTest.js.snap
Labels: app-builder-lib

#6021 fix: updating electron-osx-sign
  .github/pr-labeler.yml
  packages/app-builder-lib/electron-osx-sign/LICENSE
  packages/app-builder-lib/electron-osx-sign/default.entitlements.darwin.inherit.plist
  packages/app-builder-lib/electron-osx-sign/default.entitlements.darwin.plist
  packages/app-builder-lib/electron-osx-sign/default.entitlements.mas.inherit.plist
  packages/app-builder-lib/electron-osx-sign/default.entitlements.mas.plist
  packages/app-builder-lib/electron-osx-sign/flat.js
  packages/app-builder-lib/electron-osx-sign/index.d.ts
  packages/app-builder-lib/electron-osx-sign/index.js
  packages/app-builder-lib/electron-osx-sign/sign.js
  packages/app-builder-lib/electron-osx-sign/util-entitlements.js
  packages/app-builder-lib/electron-osx-sign/util-identities.js
  packages/app-builder-lib/electron-osx-sign/util-provisioning-profiles.js
  packages/app-builder-lib/electron-osx-sign/util.js
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/asar/unpackDetector.ts
  packages/app-builder-lib/src/codeSign/macCodeSign.ts
  packages/app-builder-lib/src/macPackager.ts
  packages/electron-updater/src/windowsExecutableCodeSignatureVerifier.ts
  pnpm-lock.yaml
  test/package.json
  test/src/helpers/CheckingPackager.ts
Labels: app-builder-lib, mac

#6013 fix(nsis): generate uninstaller without elevating (#5575)
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/builder-util/src/util.ts
Labels: app-builder-lib, builder-util, nsis

#6039 chore: Adding automatic versioning via Github Actions
  .changeset/README.md
  .changeset/config.json
  .changeset/wet-suns-study.md
  .github/issue-labeler.yml
  .github/pr-labeler.yml
  .github/workflows/pr-release.yml
  .github/workflows/publish-release.yml
  package.json
  pnpm-lock.yaml
Labels: deployment

#6043 fix: fix silent uninstallation for running app
  packages/app-builder-lib/templates/nsis/include/allowOnlyOneInstallerInstance.nsh
Labels: app-builder-lib

#6071 fix: add regex to support yarn 3 and future versions
  packages/app-builder-lib/src/util/yarn.ts
Labels: app-builder-lib

#6074 feat(app-builder-lib): Add timestamp for electron-osx-sign options
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/options/macOptions.ts
  test/src/mac/macPackagerTest.ts
Labels: app-builder-lib, mac

#6080 fix: any "node_module/____" glob pattern selects far too many node dependencies
  .changeset/purple-pans-attend.md
  packages/app-builder-lib/src/fileMatcher.ts
  packages/app-builder-lib/src/util/AppFileWalker.ts
  pnpm-lock.yaml
  test/src/ignoreTest.ts
Labels: app-builder-lib

#6073 fix: Windows update fails for custom paths that require admin rights
  packages/electron-updater/src/BaseUpdater.ts
Labels: electron-updater

#6092 chore(deploy): enabling auto publish and running prettier
  .changeset/ten-queens-sip.md
  package.json
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/util/yarn.ts
  packages/electron-updater/src/BaseUpdater.ts
  test/src/BuildTest.ts
Labels: app-builder-lib, deployment

#6105 fix(mac): signing cert filter incorrectly selects certificates (#6094) (#6101)
  .changeset/great-pumas-trade.md
  packages/app-builder-lib/src/macPackager.ts
Labels: app-builder-lib, mac

#6097 fix: linking CLI `version` output with package.json
  .changeset/config.json
  .changeset/fast-peaches-play.md
  .github/renovate.json5
  .github/workflows/pr-release.yml
  package.json
  packages/app-builder-lib/src/version.ts
  scripts/babel-plugin-version-transform.js
  scripts/update-package-version-export.js
  test/package.json
Labels: app-builder-lib

#6093 feat(portable): Adding support for unique dir on each portable app launch
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/app-builder-lib/src/targets/nsis/nsisOptions.ts
  packages/app-builder-lib/templates/nsis/portable.nsi
  test/src/windows/portableTest.ts
Labels: app-builder-lib, nsis

#6100 fix(nsis): should close app when `Silent` and `ONE_CLICK`
  packages/app-builder-lib/templates/nsis/uninstaller.nsh
Labels: app-builder-lib, nsis, windows
