Repository electron-userland/electron-builder, pull requests merged in 2021-12, with the labels that each got.

#6472 fix(nsis): Ignore other users processes
  .changeset/few-elephants-rhyme.md
  packages/app-builder-lib/templates/nsis/include/allowOnlyOneInstallerInstance.nsh
Labels: app-builder-lib

#6516 fix: specify protocol as https to complete proxy support fix
  .changeset/shiny-kangaroos-juggle.md
  packages/electron-publish/src/gitHubPublisher.ts
Labels: electron-publish

#6522 fix: optimize macCodeSign
  packages/app-builder-lib/src/codeSign/macCodeSign.ts
Labels: mac, app-builder-lib
