Repository electron-userland/electron-builder, pull requests merged in 2021-11, with the labels that each got.

#6402 fix: latest node-gyp with old Electron versions
  .changeset/neat-buttons-press.md
  packages/app-builder-lib/src/util/yarn.ts
Labels: app-builder-lib

#6400 refactor: update Bitbucket publisher
  .changeset/spotty-clouds-invent.md
  packages/app-builder-lib/src/publish/BitbucketPublisher.ts
  packages/builder-util-runtime/src/publishOptions.ts
Labels: app-builder-lib, builder-util

#6384 fix(linux): mutually exclusive exec command args
  .changeset/afraid-lizards-juggle.md
  packages/app-builder-lib/src/targets/LinuxTargetHelper.ts
Labels: app-builder-lib

#6390 fix: quitAndInstall not working on macOS with autoInstallOnAppQuit=false
  .changeset/olive-weeks-look.md
  packages/electron-updater/src/MacUpdater.ts
Labels: electron-updater

#6410 fix(builder-util): enable proxy handling in NodeHttpExecutor
  .changeset/beige-roses-itch.md
  packages/builder-util/package.json
  packages/builder-util/src/nodeHttpExecutor.ts
  pnpm-lock.yaml
Labels: builder-util

#6395 fix: Emit 'before-quit-for-update' when updating via novel means
  .changeset/sixty-queens-tell.md
  packages/electron-updater/src/BaseUpdater.ts
Labels: electron-updater

#6429 feat: make `--no-sandbox` optional for building with AppImage
  light-boxes-glow.md
  packages/app-builder-lib/src/targets/AppImageTarget.ts
Labels: app-builder-lib

#6447 fix(nsis): downgrade nsis to 3.0.4.1
  .changeset/purple-swans-beam.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/targets/nsis/nsisOptions.ts
  packages/app-builder-lib/src/targets/nsis/nsisUtil.ts
  test/src/windows/assistedInstallerTest.ts
Labels: nsis, app-builder-lib

#6450 fix(nsis): fix per-machine installs
  .changeset/famous-games-hide.md
  packages/app-builder-lib/templates/nsis/installer.nsi
  packages/electron-updater/src/BaseUpdater.ts
Labels: electron-updater, app-builder-lib

#6381 fix: get arch wrong with 'process.arch' in mac silicon
  .changeset/new-shirts-invent.md
  packages/electron-updater/src/MacUpdater.ts
Labels: electron-updater

#6449 fix(app-builder-lib): channel alternation for github is not working
  .changeset/channel-alternation-github.md
  packages/app-builder-lib/scheme.json
  packages/builder-util-runtime/src/publishOptions.ts
Labels: app-builder-lib, builder-util
