Repository electron-userland/electron-builder, pull requests merged in 2021-08, with the labels that each got.

#6117 fix: use tag name instead of version when resolving GitHub files
  empty-ties-argue.md
  packages/electron-updater/src/providers/GitHubProvider.ts
  packages/electron-updater/src/providers/Provider.ts
  test/snapshots/updater/nsisUpdaterTest.js.snap
Labels: electron-updater

#6122 fix(electron-updater): small cleanup and add more debug logging for MacUpdater to investigate #6120
  .changeset/stale-chairs-dress.md
  packages/electron-updater/src/MacUpdater.ts
Labels: electron-updater

#6024 feat: allow custom makensis and logging
  .changeset/old-planes-look.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/binDownload.ts
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/app-builder-lib/src/targets/nsis/nsisOptions.ts
  packages/app-builder-lib/src/targets/nsis/nsisUtil.ts
  packages/app-builder-lib/templates/nsis/common.nsh
  packages/app-builder-lib/templates/nsis/installer.nsi
  packages/app-builder-lib/templates/nsis/uninstaller.nsh
  test/src/windows/assistedInstallerTest.ts
Labels: nsis, app-builder-lib

#6133 fix(electron-updater): arm64 updating issue with Github private repos as update server
  packages/electron-updater/src/MacUpdater.ts
Labels: electron-updater

#6140 fix(electron-updater): fix import errors
  .changeset/brave-plants-occur.md
  packages/electron-updater/src/BaseUpdater.ts
Labels: electron-updater

#6143 fix: console log data is far too large
  .changeset/honest-comics-switch.md
  packages/electron-updater/src/NsisUpdater.ts
Labels: electron-updater

#6149 fix(electron-updater): `null` object error when MacUpdater logs server port before it is listening
  .changeset/stale-carrots-listen.md
  packages/electron-updater/src/MacUpdater.ts
Labels: electron-updater

#6165 fix: replace deprecated --cache-min option
  .changeset/honest-pandas-sneeze.md
  packages/app-builder-lib/src/util/yarn.ts
Labels: app-builder-lib

#6172 fix(windows): detect node path correctly on windows with cross-spawn (#6069)
  .changeset/long-jeans-visit.md
  packages/builder-util/package.json
  packages/builder-util/src/util.ts
  pnpm-lock.yaml
Labels: builder-util

#6160 fix: workaround vite replacing process.env in updater
  .changeset/five-worms-work.md
  packages/electron-updater/src/AppAdapter.ts
  packages/electron-updater/src/AppImageUpdater.ts
  packages/electron-updater/src/differentialDownloader/downloadPlanBuilder.ts
  packages/electron-updater/src/providerFactory.ts
  packages/electron-updater/src/providers/Provider.ts
Labels: electron-updater

#6167 feat: Adding Keygen as an official publisher/updater for electron-builder
  .changeset/witty-kiwis-hope.md
  package.json
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/publish/BintrayPublisher.ts
  packages/app-builder-lib/src/publish/KeygenPublisher.ts
  packages/app-builder-lib/src/publish/PublishManager.ts
  packages/app-builder-lib/src/version.ts
  packages/app-builder-lib/tsconfig-scheme.json
  packages/app-builder-lib/tsconfig.json
  packages/builder-util-runtime/src/httpExecutor.ts
  packages/builder-util-runtime/src/index.ts
  packages/builder-util-runtime/src/publishOptions.ts
  packages/builder-util/src/nodeHttpExecutor.ts
  packages/electron-publish/src/publisher.ts
  packages/electron-updater/src/AppUpdater.ts
  packages/electron-updater/src/MacUpdater.ts
  packages/electron-updater/src/electronHttpExecutor.ts
  packages/electron-updater/src/providerFactory.ts
  packages/electron-updater/src/providers/KeygenProvider.ts
  packages/electron-updater/src/providers/Provider.ts
  pnpm-lock.yaml
  scripts/update-package-version-export.js
  test/jestSetup.js
  test/snapshots/PublishManagerTest.js.snap
  test/snapshots/configurationValidationTest.js.snap
  test/snapshots/updater/nsisUpdaterTest.js.snap
  test/src/ArtifactPublisherTest.ts
  test/src/PublishManagerTest.ts
  test/src/configurationValidationTest.ts
  test/src/helpers/updaterTestUtil.ts
  test/src/updater/nsisUpdaterTest.ts
  test/typings/jest-ex.d.ts
Labels: electron-updater, app-builder-lib, electron-publish, builder-util

#6176 feat: add `beforePack` hook
  .changeset/stale-candles-boil.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/platformPackager.ts
Labels: app-builder-lib
