Repository electron-userland/electron-builder, pull requests merged in 2022-02, with the labels that each got.

#6598 chore(app-builder-lib): update electron-osx-sign from 0.5.0 to 0.6.0
  .changeset/thirty-items-do.md
  packages/app-builder-lib/package.json
  pnpm-lock.yaml
Labels: app-builder-lib

#6617 fix(dmg-builder): Support python 3
  .changeset/thick-bikes-sleep.md
  packages/dmg-builder/src/dmg.ts
  packages/dmg-builder/vendor/dmgbuild/core.py
  test/snapshots/BuildTest.js.snap
Labels: mac, dmg-builder

#6625 fix(packager): wait for event before starting an upload
  .changeset/angry-starfishes-divide.md
  packages/app-builder-lib/src/packager.ts
Labels: app-builder-lib

#6660 fix: signing of user-defined binaries
  .changeset/eleven-rivers-confess.md
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib

#6672 fix(dmg-builder): the "import" unbound issue
  .changeset/cold-crabs-destroy.md
  packages/dmg-builder/vendor/dmgbuild/core.py
Labels: mac, dmg-builder

#6680 fix: Reactivating bitbucket integration test for nsis updater
  .github/workflows/test.yaml
  packages/app-builder-lib/scheme.json
  test/snapshots/updater/nsisUpdaterTest.js.snap
Labels: app-builder-lib
