Repository electron-userland/electron-builder, pull requests merged in 2022-06, with the labels that each got.

#6909 fix: pin Keygen integration to API v1.0
  .changeset/strong-carrots-invent.md
  packages/app-builder-lib/src/publish/KeygenPublisher.ts
  packages/electron-updater/src/providers/KeygenProvider.ts
Labels: electron-updater, app-builder-lib

#6913 feat: electron/universal has a new minimatch option 'x64ArchFiles'
  .changeset/famous-cheetahs-run.md
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/options/macOptions.ts
Labels: mac, app-builder-lib

#6947 docs: fix linux desktop file link to gnome docs
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/linuxOptions.ts
Labels: linux, app-builder-lib

#6941 feat: upgrade Keygen integration to v1.1
  .changeset/seven-frogs-attend.md
  packages/app-builder-lib/src/publish/KeygenPublisher.ts
  packages/electron-updater/src/providers/KeygenProvider.ts
  test/src/ArtifactPublisherTest.ts
  test/src/updater/nsisUpdaterTest.ts
Labels: electron-updater, app-builder-lib

#6958 fix: prevent infinite looping of overwriteArtifact
  .changeset/wild-crabs-prove.md
  packages/electron-publish/src/gitHubPublisher.ts
Labels: electron-publish
