Repository electron-userland/electron-builder, pull requests merged in 2022-12, with the labels that each got.

#7297 fix(app-builder-lib): export missing TS types
  .changeset/twenty-dragons-carry.md
  packages/app-builder-lib/src/asar/asar.ts
Labels: app-builder-lib

#7306 chore: Update dependencies per audit/outdated
  .changeset/silly-camels-fry.md
  package.json
  packages/app-builder-lib/package.json
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/codeSign/macCodeSign.ts
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/options/macOptions.ts
  packages/app-builder-lib/src/targets/pkg.ts
  packages/app-builder-lib/src/util/packageMetadata.ts
  packages/app-builder-lib/src/util/yarn.ts
  packages/builder-util-runtime/package.json
  packages/builder-util/package.json
  packages/dmg-builder/package.json
  packages/dmg-builder/src/dmg.ts
  packages/electron-builder-squirrel-windows/package.json
  packages/electron-builder/package.json
  packages/electron-forge-maker-appimage/package.json
  packages/electron-forge-maker-nsis-web/package.json
  packages/electron-forge-maker-nsis/package.json
  packages/electron-forge-maker-snap/package.json
  packages/electron-publish/package.json
  packages/electron-updater/package.json
  pnpm-lock.yaml
  test/package.json
  test/src/helpers/CheckingPackager.ts
  test/src/ignoreTest.ts
Labels: mac, Squirrel.Windows, nsis, AppImage, electron-updater, snap, app-builder-lib, electron-publish, builder-util, dmg-builder

#7314 feat: Add the accelerate option for s3 buckets
  .changeset/good-balloons-admire.md
  packages/app-builder-lib/scheme.json
  packages/builder-util-runtime/src/publishOptions.ts
Labels: app-builder-lib, builder-util

#7320 feat: Add base option for snapcraft
  .changeset/lazy-icons-ring.md
  docs/configuration/snap.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/SnapOptions.ts
  packages/app-builder-lib/src/targets/snap.ts
  test/src/linux/snapTest.ts
Labels: app-builder-lib

#7327 fix: Ensure parent directories of symlinks are created
  .changeset/violet-seahorses-wait.md
  packages/app-builder-lib/src/util/appFileCopier.ts
Labels: app-builder-lib
