Repository electron-userland/electron-builder, pull requests merged in 2022-08, with the labels that each got.

#7075 fix: use `buildVersion` not `buildNumber` for fpm `--iteration` flag
  .changeset/tidy-singers-carry.md
  docs/configuration/configuration.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/appInfo.ts
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/targets/fpm.ts
  packages/app-builder-lib/src/winPackager.ts
  packages/builder-util/src/util.ts
  packages/electron-builder/src/cli/install-app-deps.ts
Labels: windows, app-builder-lib, builder-util

#7089 fix: Invalid code signing for MAS build (#7040)
  .changeset/violet-comics-cover.md
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib

#7099 fix: improve `downloadUpdate` typing
  .changeset/weak-mice-boil.md
  docs/api/electron-builder.md
  docs/auto-update.md
  packages/electron-updater/src/AppUpdater.ts
Labels: electron-updater

#7097 chore: Add details to entitlement option for macOS configurations
  .changeset/green-buses-beg.md
  packages/app-builder-lib/src/options/macOptions.ts
Labels: mac, app-builder-lib
