Repository electron-userland/electron-builder, pull requests merged in 2022-07, with the labels that each got.

#6975 fix: add product scope to keygen provider
  .changeset/long-goats-attack.md
  packages/electron-updater/src/providers/KeygenProvider.ts
Labels: electron-updater

#6970 fix(mas): Allow signing with "3rd Party Mac Developer Application"
  .changeset/little-ways-watch.md
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib

#6960 fix(nsis): fix typo in German installer message
  .changeset/soft-planes-jam.md
  packages/app-builder-lib/templates/nsis/assistedMessages.yml
Labels: app-builder-lib

#6964 fix: nsis-web target set APP_PACKAGE_URL_IS_INCOMPLETE
  .changeset/cuddly-books-approve.md
  packages/app-builder-lib/src/targets/nsis/WebInstallerTarget.ts
  packages/app-builder-lib/templates/nsis/include/webPackage.nsh
Labels: nsis, app-builder-lib

#6983 fix: regenerate schema.json for `x64ArchFiles`
  .changeset/three-apricots-battle.md
  package.json
  packages/app-builder-lib/CHANGELOG.md
  packages/app-builder-lib/scheme.json
  packages/builder-util-runtime/CHANGELOG.md
Labels: app-builder-lib, builder-util

#6961 fix: Remove DISABLE_WAYLAND for snaps
  .changeset/stupid-kiwis-eat.md
  packages/app-builder-lib/src/options/SnapOptions.ts
  packages/app-builder-lib/src/targets/snap.ts
Labels: app-builder-lib

#6907 feat: Add installDir property for NsisUpdater
  .changeset/curly-oranges-attack.md
  docs/api/electron-builder.md
  packages/electron-updater/src/NsisUpdater.ts
Labels: electron-updater

#6990 fix: add product scope to Keygen publisher
  .changeset/thirty-numbers-lick.md
  packages/app-builder-lib/src/publish/KeygenPublisher.ts
Labels: app-builder-lib

#6996 fix: Wrap the nsProcess include in a !ifndef
  .changeset/gentle-singers-sip.md
  packages/app-builder-lib/templates/nsis/include/allowOnlyOneInstallerInstance.nsh
Labels: app-builder-lib

#6995 fix: installDir definition #6907
  .changeset/stale-dodos-refuse.md
  packages/electron-updater/src/NsisUpdater.ts
Labels: electron-updater

#6998 fix(electron-updater): fix backward compatibility for GitHub provider without channels
  .changeset/fair-gifts-explain.md
  packages/electron-updater/src/providers/GitHubProvider.ts
Labels: electron-updater

#7019 fix: Duplicate values during deep assign of extra files
  .changeset/mean-cheetahs-look.md
  packages/builder-util/src/deepAssign.ts
Labels: builder-util

#7028 feat: Adding timeout to publisher config for api requests and uploads
  .changeset/chatty-trains-agree.md
  docs/api/electron-builder.md
  docs/configuration/publish.md
  package.json
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/electron/electronVersion.ts
  packages/app-builder-lib/src/publish/BitbucketPublisher.ts
  packages/app-builder-lib/src/publish/KeygenPublisher.ts
  packages/app-builder-lib/src/publish/PublishManager.ts
  packages/builder-util-runtime/src/httpExecutor.ts
  packages/builder-util-runtime/src/publishOptions.ts
  packages/electron-publish/src/gitHubPublisher.ts
  packages/electron-publish/src/publisher.ts
  pnpm-lock.yaml
  test/src/ArtifactPublisherTest.ts
Labels: app-builder-lib, electron-publish, builder-util
