Repository electron-userland/electron-builder, pull requests merged in 2022-05, with the labels that each got.

#6817 fix: incompatible Windows sign tool in end user environment.
  .changeset/quiet-pandas-cover.md
  packages/app-builder-lib/src/codeSign/windowsCodeSign.ts
Labels: windows, app-builder-lib

#6822 fix: Unable to find latest version on GitHub
  .changeset/ten-dragons-rest.md
  packages/electron-updater/src/providers/GitHubProvider.ts
Labels: electron-updater

#6825 refactor: Add better typing support on AppUpdater as an event emitter
  .changeset/thin-toys-report.md
  packages/electron-updater/package.json
  packages/electron-updater/src/AppUpdater.ts
  packages/electron-updater/src/electronHttpExecutor.ts
  packages/electron-updater/src/main.ts
  pnpm-lock.yaml
  test/src/helpers/updaterTestUtil.ts
  test/src/updater/nsisUpdaterTest.ts
Labels: electron-updater

#6840 fix: set github release name to match the app version
  .changeset/blue-carrots-begin.md
  packages/electron-publish/src/gitHubPublisher.ts
Labels: electron-publish

#6841 fix: Merge arrays from same config key.
  .changeset/good-cooks-sniff.md
  packages/builder-util/src/deepAssign.ts
Labels: builder-util

#6845 fix: Add "arm" as an alias for armv7l
  .changeset/mean-elephants-sin.md
  packages/builder-util/src/arch.ts
Labels: builder-util

#6827 fix(nsis): change strings, add translations
  .changeset/rich-hounds-flow.md
  packages/app-builder-lib/templates/nsis/messages.yml
Labels: app-builder-lib

#6868 refactor(nsis): make ambiguous types strict
  .changeset/serious-buttons-exist.md
  packages/app-builder-lib/src/targets/nsis/Commands.ts
  packages/app-builder-lib/src/targets/nsis/Defines.ts
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
Labels: nsis, app-builder-lib

#6878 fix(msi): manually escape XML special characters when building XML
  .changeset/flat-donkeys-cough.md
  packages/app-builder-lib/src/targets/MsiTarget.ts
Labels: app-builder-lib

#6887 fix: add afterPack call after macOS universal package is created
  .changeset/wet-ligers-heal.md
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib

#6893 docs: add Flatpak documentation
  docs/configuration/configuration.md
  docs/configuration/flatpak.md
  docs/configuration/linux.md
  mkdocs.yml
  packages/app-builder-lib/src/options/linuxOptions.ts
  scripts/jsdoc2md2html.js
Labels: linux, app-builder-lib

#6889 fix: moving typed-emitter from devDependency to dependencies
  .changeset/purple-impalas-prove.md
  .circleci/config.yml
  .github/actions/pnpm/action.yml
  .github/actions/pretest/action.yml
  docker/build.sh
  docker/node/Dockerfile
  packages/app-builder-lib/src/targets/MsiTarget.ts
  packages/electron-updater/package.json
  pnpm-lock.yaml
Labels: electron-updater, app-builder-lib
