Repository electron-userland/electron-builder, pull requests merged in 2022-11, with the labels that each got.

#7231 fix: get CI tag in GitHub Actions
  .changeset/two-eels-kiss.md
  packages/electron-publish/src/publisher.ts
Labels: electron-publish

#7230 fix: support powershell constrained language mode
  .changeset/real-olives-film.md
  packages/electron-updater/src/windowsExecutableCodeSignatureVerifier.ts
Labels: windows, electron-updater

#7251 feat(nsis): add ShutdownBlockReasonCreate for blocking Win Shutdown prompt
  .changeset/olive-planets-grin.md
  packages/app-builder-lib/templates/nsis/installSection.nsh
Labels: app-builder-lib

#7275 fix: don't use osslsigncode in a vm
  .changeset/spotty-vans-pay.md
  packages/app-builder-lib/src/codeSign/windowsCodeSign.ts
Labels: windows, app-builder-lib

#7060 feat: Introducing deb and rpm auto-updates
  .changeset/seven-garlics-tell.md
  .github/workflows/test.yaml
  docs/api/electron-builder.md
  docs/configuration/publish.md
  package.json
  packages/app-builder-lib/src/linuxPackager.ts
  packages/app-builder-lib/src/publish/PublishManager.ts
  packages/app-builder-lib/src/targets/FpmTarget.ts
  packages/builder-util-runtime/src/publishOptions.ts
  packages/electron-updater/src/AppImageUpdater.ts
  packages/electron-updater/src/BaseUpdater.ts
  packages/electron-updater/src/DebUpdater.ts
  packages/electron-updater/src/NsisUpdater.ts
  packages/electron-updater/src/RpmUpdater.ts
  packages/electron-updater/src/main.ts
  test/snapshots/PublishManagerTest.js.snap
  test/snapshots/updater/linuxUpdaterTest.js.snap
  test/src/PublishManagerTest.ts
  test/src/helpers/updaterTestUtil.ts
  test/src/updater/linuxUpdaterTest.ts
  test/src/updater/nsisUpdaterTest.ts
Labels: linux, electron-updater, app-builder-lib, builder-util
