Repository electron-userland/electron-builder, pull requests merged in 2022-03, with the labels that each got.

#6692 fix(app-builder-lib): export missing TS types
  .changeset/olive-cobras-boil.md
  packages/app-builder-lib/src/asar/asar.ts
Labels: app-builder-lib

#6682 fix(signing): Include swiftshader in signing directories for windows
  .changeset/lucky-mice-smell.md
  packages/app-builder-lib/src/winPackager.ts
Labels: windows, app-builder-lib

#6684 fix: Upgrading app-builder-bin in an attempt to resolve #6678
  .changeset/eleven-cycles-carry.md
  docs/configuration/snap.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/SnapOptions.ts
  packages/app-builder-lib/templates/snap/snapcraft.yaml
  packages/builder-util/package.json
  pnpm-lock.yaml
  test/snapshots/linux/snapTest.js.snap
  test/src/linux/snapTest.ts
Labels: app-builder-lib, builder-util

#6713 docs: fix newline for pkgOptions
  docs/configuration/pkg.md
  packages/app-builder-lib/src/options/pkgOptions.ts
Labels: app-builder-lib

#6729 fix: Change DEBUG_LOGGING env var for nsis installers as part of `customNsisBinary` config
  .changeset/cold-masks-bathe.md
  .github/workflows/test.yaml
  docs/generated/NsisOptions.md
  package.json
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/app-builder-lib/src/targets/nsis/nsisOptions.ts
  packages/app-builder-lib/templates/nsis/common.nsh
  test/src/windows/assistedInstallerTest.ts
Labels: nsis, app-builder-lib
