Repository electron-userland/electron-builder, pull requests merged in 2022-01, with the labels that each got.

#6529 fix: use junction in windows to solve Error: EPERM: operation not per…
  .changeset/chilled-icons-vanish.md
  packages/builder-util/src/fs.ts
Labels: builder-util

#6511 feat(mac): ElectronAsarIntegrity in electron@15
  .changeset/nervous-pandas-film.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/asar/asar.ts
  packages/app-builder-lib/src/asar/asarUtil.ts
  packages/app-builder-lib/src/asar/integrity.ts
  packages/app-builder-lib/src/electron/electronMac.ts
  packages/app-builder-lib/src/options/PlatformSpecificBuildOptions.ts
  packages/app-builder-lib/src/platformPackager.ts
  test/snapshots/globTest.js.snap
  test/src/BuildTest.ts
  test/src/globTest.ts
  test/src/helpers/packTester.ts
Labels: app-builder-lib

#6514 fix(msi): MSI fails to install when deployed machine-wide via GPO
  .changeset/healthy-peaches-deliver.md
  packages/app-builder-lib/templates/msi/template.xml
Labels: app-builder-lib

#6537 chore(docker): GH Actions for Docker dev/CI and deployments
  .github/actions/pnpm/action.yml
  .github/workflows/docker-deploy.yml
  .github/workflows/label-manager.yml
  .github/workflows/pr-release.yml
  .github/workflows/test.yaml
  docker/build.sh
  docker/node/Dockerfile
  docker/push.sh
  docker/readme.md
  docker/wine-chrome/Dockerfile
  docker/wine-mono/Dockerfile
  docker/wine/Dockerfile
  package.json
  packages/app-builder-lib/src/targets/AppImageTarget.ts
  packages/app-builder-lib/src/targets/LinuxTargetHelper.ts
  packages/app-builder-lib/src/util/yarn.ts
  packages/electron-updater/src/MacUpdater.ts
  pnpm-lock.yaml
Labels: electron-updater, app-builder-lib

#6541 chore: Migrate TravisCI and CircleCI to GH Actions
  .circleci/config.yml
  .github/workflows/test.yaml
  .travis.yml
  empty-ties-argue.md
  light-boxes-glow.md
  package.json
  packages/app-builder-lib/src/codeSign/macCodeSign.ts
  test/snapshots/PublishManagerTest.js.snap
  test/snapshots/mac/dmgTest.js.snap
  test/snapshots/mac/masTest.js.snap
  test/snapshots/windows/winPackagerTest.js.snap
  test/src/helpers/runTests.ts
  test/src/mac/dmgTest.ts
  test/src/updater/nsisUpdaterTest.ts
  test/src/windows/winCodeSignTest.ts
  test/src/windows/winPackagerTest.ts
Labels: windows, mac, app-builder-lib

#6201 feat(snap): add Snap compression option
  .changeset/spicy-crabs-draw.md
  docker/base/Dockerfile
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/SnapOptions.ts
  packages/app-builder-lib/src/options/linuxOptions.ts
  packages/app-builder-lib/src/targets/snap.ts
  packages/app-builder-lib/templates/snap/snapcraft.yaml
  packages/builder-util/package.json
  pnpm-lock.yaml
  test/snapshots/linux/snapTest.js.snap
  test/src/linux/snapTest.ts
Labels: linux, app-builder-lib, builder-util

#6530 feat(msi): add fileAssociation support for MSI target
  .changeset/giant-dryers-beg.md
  .changeset/serious-peas-help.md
  packages/app-builder-lib/src/options/FileAssociation.ts
  packages/app-builder-lib/src/options/MsiOptions.ts
  packages/app-builder-lib/src/targets/MsiTarget.ts
Labels: Squirrel.Windows, AppImage, app-builder-lib

#6547 fix(NSIS): prevent partial overwrites
  .changeset/nervous-cherries-speak.md
  packages/app-builder-lib/templates/nsis/include/extractAppPackage.nsh
Labels: app-builder-lib

#6550 feat(msi): support assisted installer for MSI target
  .changeset/cool-ladybugs-matter.md
  packages/app-builder-lib/src/targets/MsiTarget.ts
  packages/app-builder-lib/templates/msi/WixUI_Assisted.wxs
  packages/app-builder-lib/templates/msi/template.xml
Labels: app-builder-lib

#6551 fix(nsis): use atomic rmdir on update
  .changeset/chilly-trains-study.md
  packages/app-builder-lib/templates/nsis/include/extractAppPackage.nsh
  packages/app-builder-lib/templates/nsis/include/installUtil.nsh
  packages/app-builder-lib/templates/nsis/messages.yml
  packages/app-builder-lib/templates/nsis/uninstaller.nsh
Labels: app-builder-lib

#6563 fix: socket hang up error 422 issues in github publish
  .changeset/cyan-carpets-cry.md
  packages/electron-publish/src/gitHubPublisher.ts
Labels: electron-publish

#6575 fix: Allow disabling of webinstaller files to avoid confusion with actual installers
  .changeset/seven-elephants-sing.md
  packages/electron-updater/src/AppUpdater.ts
  packages/electron-updater/src/NsisUpdater.ts
Labels: electron-updater

#6576 fix: Update certificate validation on Windows to check full DN
  .changeset/violet-zoos-roll.md
  packages/electron-updater/src/windowsExecutableCodeSignatureVerifier.ts
  test/snapshots/updater/nsisUpdaterTest.js.snap
  test/src/updater/nsisUpdaterTest.ts
Labels: windows, electron-updater

#6578 feat: use `mergeASARs` API by @electron/universal
  .changeset/clean-kangaroos-serve.md
  packages/app-builder-lib/package.json
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/options/macOptions.ts
  pnpm-lock.yaml
Labels: mac, app-builder-lib

#6505 feat(updater): Add Channel Support for Github with PreRelease
  .changeset/github-channel-support.md
  packages/electron-updater/src/providers/GitHubProvider.ts
Labels: electron-updater

#6587 fix: fixes for server auth for MacUpdater
  .changeset/good-scissors-listen.md
  packages/electron-updater/src/MacUpdater.ts
Labels: electron-updater

#6589 fix: More small security fixes
  .changeset/neat-socks-dress.md
  packages/electron-updater/src/MacUpdater.ts
  packages/electron-updater/src/windowsExecutableCodeSignatureVerifier.ts
Labels: windows, electron-updater
