Repository electron-userland/electron-builder, pull requests merged in 2022-10, with the labels that each got.

#7136 feat: non-silent mode allow not to run the app when the installation is complete
  .changeset/chilly-days-yawn.md
  docs/api/electron-builder.md
  packages/electron-updater/src/AppUpdater.ts
  packages/electron-updater/src/BaseUpdater.ts
Labels: electron-updater

#7188 docs: Warn users not to disable zip for macos
  .changeset/silly-cycles-cheer.md
  docs/configuration/mac.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/macOptions.ts
Labels: mac, app-builder-lib

#7180 feat: enabling typescript config files (i.e. electron-builder.ts)
  .changeset/sour-chicken-study.md
  README.md
  docs/cli.md
  docs/configuration/configuration.md
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/fileMatcher.ts
  packages/electron-builder/package.json
  packages/electron-builder/src/builder.ts
  pnpm-lock.yaml
Labels: app-builder-lib

#7032 fix: inappropriate `electron-updater` cache directory on macOS
  .changeset/smooth-hounds-peel.md
  packages/electron-updater/src/AppAdapter.ts
Labels: electron-updater

#7196 fix: Migrate to electron-rebuild for handling native dependencies
  .changeset/shy-lizards-beam.md
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/util/packageMetadata.ts
  packages/app-builder-lib/src/util/yarn.ts
  packages/electron-builder/src/cli/cli.ts
  pnpm-lock.yaml
  test/src/helpers/checkDeps.ts
Labels: app-builder-lib

#7198 feat: Extending `linux` executableArgs option to be utilized for Snap target (fixes #4587)
  .changeset/empty-ligers-turn.md
  packages/app-builder-lib/src/targets/snap.ts
Labels: app-builder-lib

#7174 fix: Allow non-semver versions in getVersionInWeirdWindowsForm
  .changeset/chilled-queens-think.md
  packages/app-builder-lib/src/appInfo.ts
Labels: app-builder-lib

#7214 chore(dep): upgrading typescript and eslint deps
  .changeset/two-toes-care.md
  .eslintrc.js
  package.json
  packages/app-builder-lib/src/ProtonFramework.ts
  packages/app-builder-lib/src/asar/asarFileChecker.ts
  packages/app-builder-lib/src/asar/asarUtil.ts
  packages/app-builder-lib/src/codeSign/macCodeSign.ts
  packages/app-builder-lib/src/codeSign/windowsCodeSign.ts
  packages/app-builder-lib/src/electron/electronVersion.ts
  packages/app-builder-lib/src/fileTransformer.ts
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/platformPackager.ts
  packages/app-builder-lib/src/publish/KeygenPublisher.ts
  packages/app-builder-lib/src/publish/s3/s3Publisher.ts
  packages/app-builder-lib/src/targets/archive.ts
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/app-builder-lib/src/util/appBuilder.ts
  packages/app-builder-lib/src/util/cacheManager.ts
  packages/app-builder-lib/src/util/config.ts
  packages/app-builder-lib/src/winPackager.ts
  packages/builder-util-runtime/src/CancellationToken.ts
  packages/builder-util-runtime/src/httpExecutor.ts
  packages/builder-util/src/fs.ts
  packages/builder-util/src/promise.ts
  packages/builder-util/src/util.ts
  packages/dmg-builder/src/dmg.ts
  packages/dmg-builder/src/dmgUtil.ts
  packages/dmg-builder/src/licenseButtons.ts
  packages/electron-builder-squirrel-windows/src/squirrelPack.ts
  packages/electron-builder/src/cli/cli.ts
  packages/electron-builder/src/cli/install-app-deps.ts
  packages/electron-publish/src/gitHubPublisher.ts
  packages/electron-updater/src/AppImageUpdater.ts
  packages/electron-updater/src/AppUpdater.ts
  packages/electron-updater/src/BaseUpdater.ts
  packages/electron-updater/src/DownloadedUpdateHelper.ts
  packages/electron-updater/src/MacUpdater.ts
  packages/electron-updater/src/NsisUpdater.ts
  packages/electron-updater/src/differentialDownloader/DifferentialDownloader.ts
  packages/electron-updater/src/differentialDownloader/FileWithEmbeddedBlockMapDifferentialDownloader.ts
  packages/electron-updater/src/providers/BitbucketProvider.ts
  packages/electron-updater/src/providers/GenericProvider.ts
  packages/electron-updater/src/providers/GitHubProvider.ts
  packages/electron-updater/src/providers/KeygenProvider.ts
  packages/electron-updater/src/providers/PrivateGitHubProvider.ts
  packages/electron-updater/src/providers/Provider.ts
  pnpm-lock.yaml
  test/src/ArtifactPublisherTest.ts
  test/src/helpers/downloadElectron.ts
  test/src/helpers/fileAssert.ts
  test/src/mac/macIconTest.ts
  test/src/updater/differentialUpdateTest.ts
Labels: windows, mac, Squirrel.Windows, nsis, electron-updater, app-builder-lib, electron-publish, builder-util, dmg-builder

#7213 chore(deps): Updating deps and fixing `pnpm audit` with dependency overrides
  .changeset/swift-ties-love.md
  package.json
  packages/app-builder-lib/package.json
  packages/builder-util-runtime/package.json
  packages/builder-util/package.json
  packages/dmg-builder/package.json
  packages/electron-builder-squirrel-windows/package.json
  packages/electron-builder/package.json
  packages/electron-forge-maker-appimage/package.json
  packages/electron-forge-maker-nsis-web/package.json
  packages/electron-forge-maker-nsis/package.json
  packages/electron-forge-maker-snap/package.json
  packages/electron-publish/package.json
  packages/electron-updater/package.json
  patches/@changesets__cli@2.25.0.patch
  pnpm-lock.yaml
  test/package.json
Labels: mac, Squirrel.Windows, nsis, AppImage, electron-updater, snap, app-builder-lib, electron-publish, builder-util, dmg-builder
