Repository electron-userland/electron-builder, pull requests merged in 2022-09, with the labels that each got.

#7117 feat: allow dev update config to be forced for testing auto-updater flow
  .changeset/wild-crews-eat.md
  docs/api/electron-builder.md
  packages/electron-updater/src/AppUpdater.ts
Labels: electron-updater

#7119 fix: allow CSC_LINK to have a mime-type prefix
  .changeset/stale-deers-cheat.md
  packages/app-builder-lib/src/codeSign/codesign.ts
  packages/app-builder-lib/src/codeSign/macCodeSign.ts
  packages/app-builder-lib/src/winPackager.ts
  test/src/helpers/codeSignData.ts
Labels: windows, mac, app-builder-lib

#7110 fix: strip extra fields out before creating snap.yaml (#7104)
  .changeset/small-dodos-worry.md
  packages/app-builder-lib/src/targets/snap.ts
  test/snapshots/linux/snapTest.js.snap
  test/src/helpers/packTester.ts
  test/src/linux/snapTest.ts
Labels: app-builder-lib

#7120 docs: fix typo
  .changeset/smart-countries-decide.md
  docs/generated/NsisOptions.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/targets/nsis/nsisOptions.ts
Labels: nsis, app-builder-lib

#7141 feat: add nsis option to remove the default uninstall welcome page
  .changeset/tasty-pianos-jump.md
  docs/generated/NsisOptions.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/targets/nsis/Defines.ts
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/app-builder-lib/src/targets/nsis/nsisOptions.ts
  packages/app-builder-lib/templates/nsis/assistedInstaller.nsh
Labels: nsis, app-builder-lib

#7152 feat: add Github Actions environment variable to isPullRequest method
  .changeset/chilled-items-fail.md
  packages/builder-util/src/util.ts
Labels: builder-util

#7142 fix: formatting of Code in the MacOS PKG docs
  .changeset/heavy-buttons-thank.md
  docs/configuration/pkg.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/pkgOptions.ts
Labels: app-builder-lib
