Repository electron-userland/electron-builder, pull requests merged in 2022-04, with the labels that each got.

#6743 fix: Updater "Error: Could not connect to the server." in macOS
  .changeset/metal-elephants-remain.md
  packages/electron-updater/src/MacUpdater.ts
Labels: electron-updater

#6771 fix(nsis): specify full path to system's find
  .changeset/nine-ants-wait.md
  packages/app-builder-lib/templates/nsis/include/allowOnlyOneInstallerInstance.nsh
Labels: app-builder-lib

#6772 fix(app-builder-lib): change slash to backslash in NSIS's APP_PACKAGE_NAME
  .changeset/mighty-cameras-approve.md
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/app-builder-lib/src/targets/targetUtil.ts
Labels: nsis, app-builder-lib

#6773 fix(nsis): Update zh-tw translation
  packages/app-builder-lib/templates/nsis/README.md
  packages/app-builder-lib/templates/nsis/assistedMessages.yml
  packages/app-builder-lib/templates/nsis/messages.yml
Labels: app-builder-lib

#6775 fix(app-builder-lib): Overriding OutgoingHttpHeaders schema props
  .changeset/polite-bugs-sparkle.md
  .github/workflows/test.yaml
  packages/app-builder-lib/scheme.json
  scripts/fix-schema.js
Labels: app-builder-lib

#6789 fix(dmg-builder): exec python fail on Macos12.3
  .changeset/rare-dolls-sin.md
  packages/dmg-builder/src/dmg.ts
Labels: mac, dmg-builder

#6791 feat: Use tar instead of 7zip to preserve file permissions in tar.gz packages
  .changeset/swift-masks-appear.md
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/targets/archive.ts
  pnpm-lock.yaml
Labels: app-builder-lib

#6793 fix(nsis): cleanup temporary 7z folder
  .changeset/fifty-schools-arrive.md
  packages/app-builder-lib/templates/nsis/include/extractAppPackage.nsh
Labels: app-builder-lib

#6787 fix(nsis): If window service needs to run installer for update, the installer must have admin previlege. #6786
  .changeset/poor-windows-heal.md
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  test/snapshots/windows/assistedInstallerTest.js.snap
  test/src/windows/assistedInstallerTest.ts
Labels: nsis, app-builder-lib

#6810 fix: github provider prerelease typescript cast
  .changeset/giant-dancers-march.md
  packages/electron-updater/src/providers/GitHubProvider.ts
Labels: electron-updater

#6813 chore: Update dependencies and audit
  .changeset/chatty-zoos-attack.md
  package.json
  packages/app-builder-lib/package.json
  packages/builder-util-runtime/package.json
  packages/builder-util/package.json
  packages/dmg-builder/package.json
  packages/electron-builder-squirrel-windows/package.json
  pnpm-lock.yaml
  test/package.json
Labels: mac, Squirrel.Windows, app-builder-lib, builder-util, dmg-builder
