Repository electron-userland/electron-builder, pull requests merged in 2023-03, with the labels that each got.

#7442 feat: Support mjs files for lifecycle operations
  .changeset/real-toes-beam.md
  packages/app-builder-lib/src/codeSign/windowsCodeSign.ts
  packages/app-builder-lib/src/index.ts
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/platformPackager.ts
  packages/app-builder-lib/src/util/NodeModuleCopyHelper.ts
Labels: windows, app-builder-lib

#7461 fix: Revert "feat: Support mjs files for lifecycle operations"
  .changeset/real-toes-beam.md
  .changeset/tall-bees-pay.md
  packages/app-builder-lib/src/codeSign/windowsCodeSign.ts
  packages/app-builder-lib/src/index.ts
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/platformPackager.ts
  packages/app-builder-lib/src/util/NodeModuleCopyHelper.ts
Labels: windows, app-builder-lib

#7431 fix(packager): return success status from doSign function calls
  .changeset/real-poets-compare.md
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/winPackager.ts
Labels: windows, mac, app-builder-lib

#7477 feat: Adding new downloadAlternateFFmpeg option to download non-proprietary ffmpeg library
  .changeset/honest-mugs-invite.md
  docs/configuration/configuration.md
  packages/app-builder-lib/package.json
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/electron/ElectronFramework.ts
  pnpm-lock.yaml
  typings/electron-packager-plugin-non-proprietary-codecs-ffmpeg.d.ts
Labels: app-builder-lib

#7466 fix(arm64): RPM architecture name
  .changeset/selfish-games-sniff.md
  packages/builder-util/src/arch.ts
Labels: builder-util

#7491 fix: updating SignOptions to leverage `optionsForFile` for entitlements
  .changeset/old-melons-taste.md
  docs/configuration/mac.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/options/macOptions.ts
  test/fixtures/test-app-one/build/entitlements.mac.inherit.plist
  test/fixtures/test-app-one/build/entitlements.mac.login.plist
  test/fixtures/test-app-one/build/entitlements.mac.plist
  test/src/PublishManagerTest.ts
  test/src/mac/dmgTest.ts
  test/src/mac/macArchiveTest.ts
  test/src/mac/macIconTest.ts
  test/src/mac/macPackagerTest.ts
  test/src/mac/masTest.ts
  test/src/updater/differentialUpdateTest.ts
Labels: mac, app-builder-lib

#7490 fix: Missing quote syntax error in nsis uninstaller
  packages/app-builder-lib/templates/nsis/uninstaller.nsh
Labels: app-builder-lib

#7495 fix: prod vulnerability with ffmpeg dependency
  .changeset/violet-dots-joke.md
  .github/workflows/test.yaml
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/electron/ElectronFramework.ts
  packages/app-builder-lib/src/electron/injectFFMPEG.ts
  pnpm-lock.yaml
  test/snapshots/mac/macPackagerTest.js.snap
  test/src/helpers/packTester.ts
  test/src/linux/linuxPackagerTest.ts
  test/src/mac/macPackagerTest.ts
  test/src/windows/winPackagerTest.ts
  typings/electron-packager-plugin-non-proprietary-codecs-ffmpeg.d.ts
Labels: windows, mac, linux, app-builder-lib

#7503 fix: NsisUpdater - only resolving true if pid !== undefined
  .changeset/famous-terms-crash.md
  packages/electron-updater/src/AppImageUpdater.ts
  packages/electron-updater/src/BaseUpdater.ts
Labels: electron-updater

#7508 chore(deps): Include all DefinitelyTyped packages as dev dependencies
  .changeset/cyan-carpets-allow.md
  packages/builder-util/package.json
  packages/electron-builder/package.json
  packages/electron-publish/package.json
  packages/electron-updater/package.json
  pnpm-lock.yaml
Labels: electron-updater, electron-publish, builder-util

#7511 fix: two-package.json electron version query
  .changeset/new-cats-cross.md
  .gitignore
  packages/app-builder-lib/src/electron/ElectronFramework.ts
  packages/app-builder-lib/src/electron/electronVersion.ts
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/util/yarn.ts
  packages/electron-builder/src/cli/cli.ts
  packages/electron-builder/src/cli/install-app-deps.ts
  test/fixtures/test-app-two-native-modules/app/index.html
  test/fixtures/test-app-two-native-modules/app/index.js
  test/fixtures/test-app-two-native-modules/app/package.json
  test/fixtures/test-app-two-native-modules/app/yarn.lock
  test/fixtures/test-app-two-native-modules/package.json
  test/fixtures/test-app-two-native-modules/yarn.lock
  test/snapshots/HoistedNodeModuleTest.js.snap
  test/src/HoistedNodeModuleTest.ts
  test/src/helpers/packTester.ts
Labels: app-builder-lib
