Repository electron-userland/electron-builder, pull requests merged in 2023-01, with the labels that each got.

#7339 fix: missing html extension for multi language license files in nsis target
  .changeset/plenty-spoons-prove.md
  packages/app-builder-lib/src/util/license.ts
Labels: app-builder-lib

#7337 feat: Provide a custom verify function interface in NsisUpdater
  .changeset/slow-avocados-carry.md
  docs/configuration/win.md
  packages/electron-updater/src/NsisUpdater.ts
  packages/electron-updater/src/main.ts
Labels: electron-updater

#7351 fix: Update MacOS signOptions on macPackager #7317
  .changeset/chilled-shoes-sort.md
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib

#7352 fix: readd --identifier to mac pkg build to address issue #7348
  .changeset/wet-kangaroos-fail.md
  packages/app-builder-lib/src/targets/pkg.ts
Labels: app-builder-lib

#7361 fix: Remove spctl check from Mac's notarization
  .changeset/thin-bags-tap.md
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib

#7362 docs: replaced 'access token' with 'app password' from BitbucketOptions
  .changeset/old-shrimps-drive.md
  docs/configuration/publish.md
  packages/app-builder-lib/scheme.json
  packages/builder-util-runtime/src/publishOptions.ts
Labels: app-builder-lib, builder-util

#7380 fix: add reject in handleError in Windows `verifySignature` function
  .changeset/nervous-zebras-accept.md
  packages/electron-updater/src/windowsExecutableCodeSignatureVerifier.ts
Labels: windows, electron-updater

#7382 fix: Allow MAS builds to be unsigned if `identity: null` is explicitly passed
  .changeset/eleven-trainers-brake.md
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib

#7383 fix: MAS builds should respect arch suffix per `defaultArch` config
  .changeset/empty-onions-own.md
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib

#7378 fix: Remove adapter if core22 is set as base on snapcraft
  .changeset/thin-terms-change.md
  packages/app-builder-lib/src/targets/snap.ts
Labels: app-builder-lib

#7311 fix: Execute `afterSign` hook only when signing is completed (BREAKING)
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/platformPackager.ts
  packages/app-builder-lib/src/winPackager.ts
  test/src/BuildTest.ts
Labels: windows, mac, app-builder-lib

#7373 feat: vendor information in releaseInfo
  .changeset/brown-tigers-check.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/PlatformSpecificBuildOptions.ts
Labels: app-builder-lib

#7387 fix: reset `GYP_MSVS_VERSION` for multi-arch builds before `beforePack`
  .changeset/purple-phones-sin.md
  .github/issue_template.md
  docs/configuration/configuration.md
  docs/generated/PlatformSpecificBuildOptions.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/PlatformSpecificBuildOptions.ts
  packages/app-builder-lib/src/platformPackager.ts
  scripts/jsdoc2md2html.js
Labels: app-builder-lib

#7388 fix: adding log warning in case `afterSign` exists but no signing occurred
  .changeset/neat-peas-complain.md
  .github/workflows/test.yaml
  packages/app-builder-lib/src/platformPackager.ts
  test/snapshots/BuildTest.js.snap
  test/src/BuildTest.ts
Labels: app-builder-lib

#7394 fix: inherit stdio for updated processes (#7393)
  .changeset/sharp-olives-decide.md
  packages/electron-updater/src/BaseUpdater.ts
Labels: electron-updater
