Repository electron-userland/electron-builder, pull requests merged in 2023-06, with the labels that each got.

#7600 fix(mac): Wrap hditutil detach in retry w/ backoff
  .changeset/large-items-argue.md
  packages/builder-util/src/util.ts
  packages/dmg-builder/src/dmgUtil.ts
Labels: mac, builder-util, dmg-builder

#7603 fix: Allow building MAS and dmg targets with different appId
  .changeset/famous-shrimps-return.md
  packages/app-builder-lib/src/electron/electronMac.ts
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib

#7609 feat: added env variable for 7z filter
  .changeset/nervous-readers-worry.md
  packages/app-builder-lib/src/targets/archive.ts
Labels: app-builder-lib

#7622 fix(mac): use Identity `hash` instead of `name` if it exists
  .changeset/great-seas-admire.md
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib

#7628 fix: removing stdio from spawnSync to fix crash on rpm/deb updaters
  .changeset/strange-planes-judge.md
  packages/electron-updater/src/BaseUpdater.ts
Labels: electron-updater

#7629 fix: use electron/rebuild Rebuilder directly for cross-platform builds
  .changeset/forty-ways-pay.md
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/util/yarn.ts
  packages/electron-builder/src/cli/cli.ts
  pnpm-lock.yaml
Labels: app-builder-lib

#7637 fix: trigger `app.relaunch()` if `isForceRunAfter = true` for rpm and deb updaters
  .changeset/empty-pears-hammer.md
  packages/electron-updater/src/AppAdapter.ts
  packages/electron-updater/src/DebUpdater.ts
  packages/electron-updater/src/ElectronAppAdapter.ts
  packages/electron-updater/src/RpmUpdater.ts
Labels: electron-updater

#7630 fix(linux): make semver pre-release versions valid for "pacman" and "rpm" target
  .changeset/honest-comics-bake.md
  packages/app-builder-lib/src/targets/FpmTarget.ts
  packages/app-builder-lib/src/targets/LinuxTargetHelper.ts
Labels: app-builder-lib

#7633 fix: change typed-emitter to tiny-typed-emitter
  .changeset/proud-balloons-applaud.md
  packages/electron-updater/package.json
  packages/electron-updater/src/AppUpdater.ts
  pnpm-lock.yaml
Labels: electron-updater
