Repository electron-userland/electron-builder, pull requests merged in 2023-05, with the labels that each got.

#7568 fix: missing @types dependencies for output d.ts files
  .changeset/twelve-cups-lie.md
  packages/app-builder-lib/package.json
  packages/builder-util/package.json
  packages/electron-publish/package.json
  pnpm-lock.yaml
Labels: app-builder-lib, electron-publish, builder-util

#7529 fix: msiWrapped: Normalize target names before checking for NSIS target
  .changeset/shiny-jars-fetch.md
  packages/app-builder-lib/src/targets/MsiWrappedTarget.ts
  test/snapshots/windows/msiWrappedTest.js.snap
  test/src/windows/msiWrappedTest.ts
Labels: app-builder-lib, Stale

#7552 fix(nsis): Ensure application name sub-folder on fresh installs.
  .changeset/two-goats-shop.md
  packages/app-builder-lib/templates/nsis/assistedInstaller.nsh
Labels: app-builder-lib
