Repository electron-userland/electron-builder, pull requests merged in 2023-10, with the labels that each got.

#7798 fix: Make nsis builds (and portable builds) not run in parallel
  .changeset/tough-roses-attend.md
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
Labels: nsis, app-builder-lib

#7813 docs: add snap base core22 as an option
  .changeset/bright-toys-camp.md
  docs/configuration/snap.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/SnapOptions.ts
Labels: app-builder-lib

#7838 fix: Don't notarize mas builds
  .changeset/smooth-lies-thank.md
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib

#7806 fix: compat with newest @types/node
  .changeset/brave-bats-brake.md
  .changeset/spicy-kiwis-float.md
  docs/auto-update.md
  package.json
  packages/builder-util-runtime/src/httpExecutor.ts
  pnpm-lock.yaml
  scripts/jsdoc/helpers.js
Labels: builder-util
