Repository electron-userland/electron-builder, pull requests merged in 2023-12, with the labels that each got.

#7915 docs: Update docs to include `msi-wrapped` target
  .changeset/silver-ties-taste.md
  docs/configuration/win.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/winOptions.ts
Labels: windows, app-builder-lib

#7919 fix(win): use `resultOutputPath` to sign custom location for windows
  .changeset/forty-teachers-run.md
  packages/app-builder-lib/src/codeSign/windowsCodeSign.ts
Labels: windows, app-builder-lib

#7931 fix: Allow `test.js` in compiled asar
  .changeset/cold-carpets-move.md
  packages/app-builder-lib/src/util/NodeModuleCopyHelper.ts
  test/snapshots/BuildTest.js.snap
Labels: app-builder-lib

#7930 chore: consolidate `7zip-bin` `chmod` logic
  .changeset/chilled-apricots-sit.md
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/targets/FpmTarget.ts
  packages/app-builder-lib/src/targets/archive.ts
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/builder-util/package.json
  packages/builder-util/src/7za.ts
  packages/builder-util/src/util.ts
  packages/electron-builder-squirrel-windows/package.json
  packages/electron-builder-squirrel-windows/src/squirrelPack.ts
  pnpm-lock.yaml
  test/package.json
  test/src/helpers/packTester.ts
Labels: Squirrel.Windows, nsis, app-builder-lib, builder-util

#7933 chore: add debug data for `hdiutil detach` when it initially fails
  .changeset/long-suits-act.md
  packages/dmg-builder/src/dmgUtil.ts
Labels: mac, dmg-builder

#7936 feat: ES module support
  .changeset/quick-rocks-cover.md
  packages/app-builder-lib/src/appInfo.ts
  packages/app-builder-lib/src/codeSign/windowsCodeSign.ts
  packages/app-builder-lib/src/index.ts
  packages/app-builder-lib/src/options/metadata.ts
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/platformPackager.ts
  packages/app-builder-lib/src/util/NodeModuleCopyHelper.ts
Labels: windows, app-builder-lib

#7951 fix: notarization with an apple API key
  .changeset/shaggy-plums-live.md
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib
