Repository electron-userland/electron-builder, pull requests merged in 2023-07, with the labels that each got.

#7643 fix: use nullish coalescing operator for hardenedRuntime default
  .changeset/slow-buttons-provide.md
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib

#7642 feat: Added support for overriding ‘preAutoEntitlements’ for electron/osx-sign
  .changeset/four-starfishes-invite.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/options/macOptions.ts
Labels: mac, app-builder-lib

#7648 fix: re-enable changeDir step for assisted, perMachine installs
  .changeset/sweet-monkeys-listen.md
  packages/app-builder-lib/templates/msi/template.xml
Labels: app-builder-lib

#7668 fix: reverting migration to electron-rebuild
  .changeset/fast-plums-play.md
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/electron/electronVersion.ts
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/util/packageMetadata.ts
  packages/app-builder-lib/src/util/yarn.ts
  packages/electron-builder/src/cli/cli.ts
  pnpm-lock.yaml
  test/snapshots/BuildTest.js.snap
  test/src/BuildTest.ts
Labels: app-builder-lib

#7666 fix: for isCustomChannel in GitHubProvider.ts #7665
  .changeset/smart-balloons-sip.md
  packages/electron-updater/src/providers/GitHubProvider.ts
Labels: electron-updater

#7679 fix: add back missing `createLazyProductionDeps` that was missed during revert
  .changeset/lazy-buttons-invent.md
  packages/app-builder-lib/src/util/yarn.ts
  packages/electron-builder/src/cli/install-app-deps.ts
Labels: app-builder-lib

#7685 fix: add `signExts` configuration option to not sign `.node` files by default
  .changeset/sharp-jobs-chew.md
  docs/configuration/win.md
  netlify-docs.sh
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/winOptions.ts
  packages/app-builder-lib/src/winPackager.ts
Labels: windows, app-builder-lib
