Repository electron-userland/electron-builder, pull requests merged in 2023-09, with the labels that each got.

#7767 fix: When error code is ENOENT, try to use electron.shell.openPath to…
  .changeset/few-eagles-learn.md
  packages/electron-updater/src/NsisUpdater.ts
Labels: electron-updater

#7780 fix(mac): Enhance the usage boundary of iconTextSize (#7769)
  .changeset/funny-geckos-clap.md
  packages/dmg-builder/src/dmg.ts
Labels: mac, dmg-builder

#7790 feat: add customUnWelcomePage macro for nsis
  .changeset/real-planets-float.md
  docs/configuration/nsis.md
  packages/app-builder-lib/templates/nsis/assistedInstaller.nsh
Labels: app-builder-lib

#7792 fix: exclude electron-builder.env from app
  .changeset/silent-cats-travel.md
  packages/app-builder-lib/src/fileMatcher.ts
Labels: app-builder-lib

#7763 fix: bug #7711.
  .changeset/yellow-games-beg.md
  packages/app-builder-lib/src/platformPackager.ts
Labels: app-builder-lib

#7797 fix: Extract `NotarizeNotaryOptions` and `NotarizeLegacyOptions` to explicitly define required vars
  .changeset/nice-dogs-remain.md
  docs/configuration/mac.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/options/macOptions.ts
  packages/app-builder-lib/src/platformPackager.ts
Labels: mac, app-builder-lib
