Repository electron-userland/electron-builder, pull requests merged in 2023-04, with the labels that each got.

#7519 fix: "Can't reconcile two non-macho files" due to new "PreGyp Copy" functionality in electron/rebuild integration
  .changeset/flat-jars-glow.md
  packages/app-builder-lib/src/fileMatcher.ts
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/util/yarn.ts
  packages/electron-builder/src/cli/install-app-deps.ts
  test/fixtures/test-app-two-native-modules/app/package.json
  test/snapshots/BuildTest.js.snap
  test/snapshots/ExtraBuildResourcesTest.js.snap
  test/snapshots/HoistedNodeModuleTest.js.snap
  test/snapshots/mac/macPackagerTest.js.snap
  test/src/BuildTest.ts
  test/src/ExtraBuildResourcesTest.ts
  test/src/helpers/packTester.ts
  test/src/helpers/verifySmartUnpack.ts
  test/src/mac/macPackagerTest.ts
Labels: mac, app-builder-lib

#7516 feat: Moved `electronLanguages` to global config to support win/linux
  .changeset/brave-crabs-guess.md
  docs/configuration/configuration.md
  docs/configuration/mac.md
  docs/generated/PlatformSpecificBuildOptions.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/electron/ElectronFramework.ts
  packages/app-builder-lib/src/linuxPackager.ts
  packages/app-builder-lib/src/options/PlatformSpecificBuildOptions.ts
  packages/app-builder-lib/src/options/macOptions.ts
  packages/app-builder-lib/src/platformPackager.ts
  packages/app-builder-lib/src/remoteBuilder/ProjectInfoManager.ts
  packages/app-builder-lib/src/remoteBuilder/RemoteBuilder.ts
  packages/app-builder-lib/src/remoteBuilder/builder-cli.ts
  packages/app-builder-lib/src/remoteBuilder/remote-builder-certs.ts
Labels: mac, linux, app-builder-lib

#7524 fix: Fix electron-updater error handling when spawning a process asynchronously
  .changeset/tricky-flies-bow.md
  packages/electron-updater/src/BaseUpdater.ts
Labels: electron-updater

#7501 fix: Use `update-alternatives` instead of symlinks for #7500
  .changeset/use-update-alternatives-93f81a.md
  packages/app-builder-lib/templates/linux/after-install.tpl
  packages/app-builder-lib/templates/linux/after-remove.tpl
  test/snapshots/linux/debTest.js.snap
Labels: app-builder-lib

#7542 fix(updater): handle errors on responses in differential download
  .changeset/gold-ladybugs-rhyme.md
  packages/electron-updater/src/differentialDownloader/DifferentialDownloader.ts
Labels: electron-updater

#7544 fix: Don't use the content-length HTTP header to check size of data
  .changeset/little-spies-double.md
  packages/builder-util-runtime/src/httpExecutor.ts
Labels: builder-util

#7531 feat(nsis): display "Space required" text for NSIS installer
  .changeset/modern-waves-compete.md
  packages/app-builder-lib/src/targets/nsis/Defines.ts
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/app-builder-lib/src/targets/nsis/nsisUtil.ts
  packages/app-builder-lib/templates/nsis/common.nsh
  packages/app-builder-lib/templates/nsis/installer.nsi
  packages/builder-util/src/fs.ts
Labels: nsis, app-builder-lib, builder-util

#7533 feat: nsis install method - exposed as public to avoid quit the app for the install
  .changeset/bright-numbers-provide.md
  packages/electron-updater/src/BaseUpdater.ts
Labels: electron-updater

#7558 feat: allow specifying recommended dependencies for deb target
  .changeset/sixty-paws-rush.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/linuxOptions.ts
  packages/app-builder-lib/src/targets/FpmTarget.ts
Labels: linux, app-builder-lib
