Repository electron-userland/electron-builder, pull requests merged in 2023-11, with the labels that each got.

#7829 fix(deps): Update 7zip-bin to support Windows on ARM
  .changeset/quick-comics-cross.md
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/targets/FpmTarget.ts
  packages/app-builder-lib/src/targets/archive.ts
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/builder-util/package.json
  packages/builder-util/src/util.ts
  packages/electron-builder-squirrel-windows/package.json
  packages/electron-builder-squirrel-windows/src/squirrelPack.ts
  pnpm-lock.yaml
  test/package.json
  test/src/helpers/packTester.ts
Labels: Squirrel.Windows, nsis, app-builder-lib, builder-util

#7875 fix: flatpak build failing due to too large icons
  .changeset/nervous-cheetahs-move.md
  packages/app-builder-lib/src/targets/FlatpakTarget.ts
Labels: app-builder-lib

#7861 feat: allow api key and keychain notarize
  .changeset/poor-lobsters-report.md
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib

#7885 docs: update notarization docs
  .changeset/big-rice-sneeze.md
  docs/configuration/mac.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/macOptions.ts
Labels: mac, app-builder-lib

#7884 fix: fix probable bug
  .changeset/silver-buckets-design.md
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib

#7896 fix(mac): notary with pure api key auth
  .changeset/metal-adults-impress.md
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib

#7898 chore(docs): exporting more things to API docs
  docs/api/electron-builder.md
  docs/configuration/mac.md
  docs/configuration/publish.md
  docs/configuration/snap.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/index.ts
  packages/app-builder-lib/src/options/macOptions.ts
  packages/electron-updater/src/main.ts
  scripts/jsdoc2md2html.js
Labels: mac, electron-updater, app-builder-lib

#7908 fix: pass publish options to snap publisher
  .changeset/swift-dingos-live.md
  packages/app-builder-lib/src/targets/snap.ts
Labels: app-builder-lib
