Repository electron-userland/electron-builder, pull requests merged in 2023-02, with the labels that each got.

#7407 feat: Allow for NSIS windows installer to be wrapped in an MSI
  .changeset/plenty-bees-give.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/index.ts
  packages/app-builder-lib/src/options/MsiWrappedOptions.ts
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/targets/MsiTarget.ts
  packages/app-builder-lib/src/targets/MsiWrappedTarget.ts
  packages/app-builder-lib/src/winPackager.ts
  packages/app-builder-lib/templates/msiWrapped/template.xml
  packages/electron-builder/cli.js
  packages/electron-builder/install-app-deps.js
  packages/electron-forge-maker-appimage/main.js
  packages/electron-forge-maker-nsis-web/main.js
  packages/electron-forge-maker-nsis/main.js
  packages/electron-forge-maker-snap/main.js
  pnpm-lock.yaml
  test/package.json
  test/snapshots/windows/msiWrappedTest.js.snap
  test/src/windows/msiWrappedTest.ts
Labels: windows, nsis, AppImage, snap, app-builder-lib

#7421 fix: enable signing of .node modules in order to support WDAC
  .github/workflows/test.yaml
  docs/generated/PlatformSpecificBuildOptions.md
  packages/app-builder-lib/src/winPackager.ts
  test/snapshots/BuildTest.js.snap
Labels: windows, app-builder-lib

#7432 fix(packager): report the correct status result when `doSign` exits early
  .changeset/stale-dots-build.md
  packages/app-builder-lib/src/codeSign/windowsCodeSign.ts
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/platformPackager.ts
  packages/app-builder-lib/src/winPackager.ts
  packages/builder-util/src/fs.ts
Labels: windows, mac, app-builder-lib, builder-util
