Repository electron-userland/electron-builder, pull requests merged in 2024-04, with the labels that each got.

#8159 feat: Make notarization with Apple ID more usable
  .changeset/moody-years-poke.md
  docs/configuration/mac.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/options/macOptions.ts
Labels: mac, app-builder-lib

#8150 feat: Add CLI and API for only publishing assets (skips `build` flow)
  .changeset/flat-keys-wonder.md
  docs/api/electron-builder.md
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/publish/PublishManager.ts
  packages/app-builder-lib/src/util/config.ts
  packages/electron-builder/src/cli/cli.ts
  packages/electron-builder/src/index.ts
  packages/electron-builder/src/publish.ts
  test/src/ArtifactPublisherTest.ts
  test/src/configurationValidationTest.ts
Labels: app-builder-lib

#8173 feat: Add Support for a separate Github release token to the auto-update token
  .changeset/serious-pumpkins-suffer.md
  docs/configuration/publish.md
  packages/electron-publish/src/gitHubPublisher.ts
Labels: electron-publish
