Repository electron-userland/electron-builder, pull requests merged in 2024-12, with the labels that each got.

#8717 fix(deps): update dependency eslint to v9.16.0 [security]
  .changeset/quiet-suns-admire.md
  package.json
  packages/app-builder-lib/src/asar/asarUtil.ts
  pnpm-lock.yaml
Labels: app-builder-lib

#8661 refactor: remove stale handler for `extend-info`
  .changeset/lovely-cougars-listen.md
  packages/app-builder-lib/src/electron/electronMac.ts
Labels: app-builder-lib

#8715 fix: install all dependencies to fix building within NPM workspaces
  .changeset/small-windows-leave.md
  packages/app-builder-lib/src/util/yarn.ts
Labels: app-builder-lib

#8711 feat(keygen): Add `host` property to support self-hosted Keygen instances
  .changeset/kind-poems-joke.md
  packages/app-builder-lib/scheme.json
  packages/builder-util-runtime/src/publishOptions.ts
  packages/electron-publish/src/keygenPublisher.ts
  packages/electron-updater/src/providers/KeygenProvider.ts
Labels: electron-updater, app-builder-lib, electron-publish, builder-util

#8727 chore: Rename `vmRequired` variable to `useVmIfNotOnWin`
  .changeset/shy-pumas-attack.md
  packages/app-builder-lib/src/codeSign/windowsSignToolManager.ts
Labels: windows, app-builder-lib

#8741 feat(s3): add forcePathStyle option to S3Options
  .changeset/four-gorillas-nail.md
  packages/builder-util-runtime/src/publishOptions.ts
  packages/builder-util/package.json
  packages/electron-publish/src/s3/s3Publisher.ts
  pnpm-lock.yaml
Labels: electron-publish, builder-util

#8609 feat: support completely custom AppxManifest.xml
  .changeset/brown-pears-beg.md
  .vscode/launch.json
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/AppXOptions.ts
  packages/app-builder-lib/src/targets/AppxTarget.ts
  test/fixtures/test-app-one/build/custom-manifest.xml
  test/fixtures/test-app-one/build/custom-template-manifest.xml
  test/snapshots/windows/appxTest.js.snap
  test/src/windows/appxTest.ts
Labels: app-builder-lib

#8749 fix: typo in urls in tsdoc
  .changeset/thirty-jars-hunt.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/FileAssociation.ts
  packages/app-builder-lib/src/targets/FpmTarget.ts
Labels: app-builder-lib

#8695 fix: use disableDifferentialDownload flag in the AppImageBuilder
  .changeset/odd-trees-battle.md
  packages/electron-updater/src/AppImageUpdater.ts
Labels: electron-updater

#8607 feat(nsis): allow disabling of building a universal installer
  .changeset/early-deers-suffer.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/app-builder-lib/src/targets/nsis/WebInstallerTarget.ts
  packages/app-builder-lib/src/targets/nsis/nsisOptions.ts
  test/snapshots/windows/webInstallerTest.js.snap
  test/snapshots/windows/winPackagerTest.js.snap
  test/src/windows/webInstallerTest.ts
  test/src/windows/winPackagerTest.ts
Labels: windows, nsis, app-builder-lib
