Repository electron-userland/electron-builder, pull requests merged in 2024-05, with the labels that each got.

#8203 feat(appx): Update identityName for windows 10
  .changeset/gentle-bags-thank.md
  packages/app-builder-lib/src/targets/AppxTarget.ts
Labels: app-builder-lib

#8205 fix: Revert "feat(appx): Update identityName for windows 10"
  .changeset/gentle-bags-thank.md
  packages/app-builder-lib/src/targets/AppxTarget.ts
Labels: app-builder-lib

#8194 feat: add `afterExtract` hook
  .changeset/tough-clouds-think.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/platformPackager.ts
Labels: app-builder-lib

#8216 chore: update read-config-file dependency
  .changeset/green-parrots-drum.md
  packages/app-builder-lib/package.json
  pnpm-lock.yaml
Labels: app-builder-lib

#8218 feat(mac): support macos signature additionalArguments parameter
  .changeset/four-taxis-doubt.md
  docs/configuration/configuration.md
  docs/configuration/mac.md
  packages/app-builder-lib/package.json
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/options/macOptions.ts
  pnpm-lock.yaml
Labels: mac, app-builder-lib

#8227 docs: channel works with Github
  .changeset/selfish-turtles-fold.md
  docs/api/electron-builder.md
  packages/electron-updater/src/AppUpdater.ts
Labels: electron-updater
