Repository electron-userland/electron-builder, pull requests merged in 2024-06, with the labels that each got.

#8190 feat: App builder bin 5.0
  .changeset/brave-rats-tap.md
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/util/NodeModuleCopyHelper.ts
  packages/app-builder-lib/src/util/appFileCopier.ts
  packages/app-builder-lib/src/util/packageDependencies.ts
  packages/builder-util/package.json
  pnpm-lock.yaml
  test/snapshots/HoistedNodeModuleTest.js.snap
  test/snapshots/mac/macPackagerTest.js.snap
Labels: app-builder-lib, builder-util

#8245 feat: write asar integrity resource on windows
  .changeset/thick-flies-carry.md
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/electron/ElectronFramework.ts
  packages/app-builder-lib/src/electron/electronWin.ts
  pnpm-lock.yaml
Labels: app-builder-lib

#8251 refactor: builder-util-runtime, separate newError to eliminate circular dependency
  .changeset/quiet-jars-leave.md
  packages/builder-util-runtime/src/error.ts
  packages/builder-util-runtime/src/httpExecutor.ts
  packages/builder-util-runtime/src/index.ts
  packages/builder-util-runtime/src/uuid.ts
  packages/builder-util-runtime/src/xml.ts
Labels: builder-util

#8206 feat(appx): Update identityName for windows 10
  .changeset/gentle-bags-thank.md
  docs/configuration/appx.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/AppXOptions.ts
  packages/app-builder-lib/src/targets/AppxTarget.ts
  test/src/windows/appxTest.ts
Labels: app-builder-lib

#8254 fix: @electron/remote wrongly into Windows app.asar
  .changeset/nice-weeks-sip.md
  packages/app-builder-lib/src/util/NodeModuleCopyHelper.ts
  packages/app-builder-lib/src/util/appFileCopier.ts
Labels: app-builder-lib

#8271 fix(deps): Update notarize tool
  .changeset/tender-countries-drive.md
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/index.ts
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/options/macOptions.ts
  pnpm-lock.yaml
Labels: mac, app-builder-lib

#8267 fix: don't log ignored error when requiring custom publisher
  .changeset/spotty-timers-shave.md
  packages/app-builder-lib/src/publish/PublishManager.ts
Labels: app-builder-lib

#8274 feat: updating app-builder to v5.0.0-alpha.4
  .changeset/selfish-icons-rest.md
  packages/builder-util/package.json
  pnpm-lock.yaml
Labels: builder-util

#8281 fix: resolve CI/CD docs generation issue
  .changeset/sour-mugs-greet.md
  docs/configuration/mac.md
  package.json
  packages/app-builder-lib/scheme.json
  scripts/jsdoc2md2html.js
Labels: app-builder-lib
