Repository electron-userland/electron-builder, pull requests merged in 2024-02, with the labels that each got.

#8035 fix(mac): merge `fileAssociations` with existing `CFBundleDocumentTypes` if defined in `mac.extendInfo`
  .changeset/fifty-lions-burn.md
  packages/app-builder-lib/src/electron/electronMac.ts
  test/snapshots/mac/macPackagerTest.js.snap
  test/src/mac/macPackagerTest.ts
Labels: mac, app-builder-lib

#8043 feat: allow `onNodeModuleFile` to return a boolean to force include the package to be copied
  .changeset/little-pumas-check.md
  docs/configuration/configuration.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/util/NodeModuleCopyHelper.ts
  test/snapshots/BuildTest.js.snap
  test/src/BuildTest.ts
  test/src/helpers/verifySmartUnpack.ts
Labels: app-builder-lib

#8051 fix: auto-update powershell script requires reset of `PSModulePath`
  .changeset/gorgeous-poems-joke.md
  .github/workflows/test.yaml
  package.json
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/electron-updater/src/differentialDownloader/downloadPlanBuilder.ts
  packages/electron-updater/src/windowsExecutableCodeSignatureVerifier.ts
  test/snapshots/updater/nsisUpdaterTest.js.snap
  test/src/updater/nsisUpdaterTest.ts
Labels: windows, nsis, electron-updater, app-builder-lib

#8057 chore: upgrading connected dependencies (typescript 5.3.3 requires higher eslint version)
  .changeset/short-llamas-fly.md
  .eslintrc.js
  package.json
  packages/app-builder-lib/src/asar/asar.ts
  packages/app-builder-lib/src/asar/asarUtil.ts
  packages/app-builder-lib/src/core.ts
  packages/app-builder-lib/src/electron/ElectronFramework.ts
  packages/app-builder-lib/src/electron/electronVersion.ts
  packages/app-builder-lib/src/fileMatcher.ts
  packages/app-builder-lib/src/frameworks/LibUiFramework.ts
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/platformPackager.ts
  packages/app-builder-lib/src/publish/PublishManager.ts
  packages/app-builder-lib/src/publish/SnapStorePublisher.ts
  packages/app-builder-lib/src/publish/s3/BaseS3Publisher.ts
  packages/app-builder-lib/src/publish/s3/s3Publisher.ts
  packages/app-builder-lib/src/publish/s3/spacesPublisher.ts
  packages/app-builder-lib/src/targets/AppImageTarget.ts
  packages/app-builder-lib/src/targets/AppxTarget.ts
  packages/app-builder-lib/src/targets/ArchiveTarget.ts
  packages/app-builder-lib/src/targets/FlatpakTarget.ts
  packages/app-builder-lib/src/targets/FpmTarget.ts
  packages/app-builder-lib/src/targets/MsiTarget.ts
  packages/app-builder-lib/src/targets/MsiWrappedTarget.ts
  packages/app-builder-lib/src/targets/archive.ts
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/app-builder-lib/src/targets/pkg.ts
  packages/app-builder-lib/src/targets/snap.ts
  packages/app-builder-lib/src/util/AppFileWalker.ts
  packages/app-builder-lib/src/util/cacheManager.ts
  packages/builder-util-runtime/src/ProgressCallbackTransform.ts
  packages/builder-util-runtime/src/httpExecutor.ts
  packages/builder-util/src/asyncTaskManager.ts
  packages/builder-util/src/fs.ts
  packages/builder-util/src/util.ts
  packages/dmg-builder/src/dmg.ts
  packages/electron-builder-squirrel-windows/src/SquirrelWindowsTarget.ts
  packages/electron-builder-squirrel-windows/src/squirrelPack.ts
  packages/electron-publish/src/gitHubPublisher.ts
  packages/electron-publish/src/progress.ts
  packages/electron-publish/src/publisher.ts
  packages/electron-updater/src/AppUpdater.ts
  packages/electron-updater/src/differentialDownloader/DifferentialDownloader.ts
  packages/electron-updater/src/providers/BitbucketProvider.ts
  packages/electron-updater/src/providers/GenericProvider.ts
  packages/electron-updater/src/providers/GitHubProvider.ts
  packages/electron-updater/src/providers/KeygenProvider.ts
  packages/electron-updater/src/providers/PrivateGitHubProvider.ts
  pnpm-lock.yaml
  test/src/helpers/TestAppAdapter.ts
  test/src/helpers/downloadElectron.ts
  test/src/windows/msiTest.ts
Labels: mac, Squirrel.Windows, nsis, electron-updater, app-builder-lib, electron-publish, builder-util, dmg-builder

#8052 fix: add dmg-builder and squirrel-windows to peerDependencies for pnpm
  .changeset/cold-sheep-camp.md
  packages/app-builder-lib/package.json
Labels: app-builder-lib

#8059 fix: execute %SYSTEMROOT% cmd.exe directly during NSIS installer
  .changeset/large-trainers-enjoy.md
  packages/app-builder-lib/templates/nsis/include/allowOnlyOneInstallerInstance.nsh
Labels: app-builder-lib

#8065 fix(mac): only skip notarization step when `notarize` is explicitly false
  .changeset/twelve-boxes-film.md
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib

#8069 fix: Windows ES module support
  .changeset/orange-goats-brake.md
  packages/app-builder-lib/src/platformPackager.ts
Labels: app-builder-lib

#8071 fix(pkg): provide `BundlePreInstallScriptPath` and/or `BundlePostInstallScriptPath`
  .changeset/mighty-pumpkins-battle.md
  packages/app-builder-lib/src/platformPackager.ts
  packages/app-builder-lib/src/targets/pkg.ts
Labels: app-builder-lib

#7709 feat: add support for differential zip updates on macOS
  .changeset/breezy-pans-shop.md
  packages/electron-updater/src/AppUpdater.ts
  packages/electron-updater/src/MacUpdater.ts
  packages/electron-updater/src/NsisUpdater.ts
  test/snapshots/updater/differentialUpdateTest.js.snap
  test/src/updater/differentialUpdateTest.ts
Labels: electron-updater
