Repository electron-userland/electron-builder, pull requests merged in 2024-11, with the labels that each got.

#8653 fix: cscIKeyPassword must support empty string arguments
  .changeset/fresh-camels-smash.md
  packages/app-builder-lib/src/codeSign/macCodeSign.ts
Labels: mac, app-builder-lib

#8654 fix(asar): check ResolvedFileSet src when verifying symlinks to be within project directory
  .changeset/smooth-camels-decide.md
  packages/app-builder-lib/src/asar/asarUtil.ts
  packages/app-builder-lib/src/platformPackager.ts
Labels: app-builder-lib

#8636 feat: add AppArmor profile to FPM targets to pair with `afterInstall` and `afterRemove` template scripts
  .changeset/mighty-forks-pump.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/linuxOptions.ts
  packages/app-builder-lib/src/targets/FpmTarget.ts
  packages/app-builder-lib/templates/linux/after-install.tpl
  packages/app-builder-lib/templates/linux/after-remove.tpl
  packages/app-builder-lib/templates/linux/apparmor-profile.tpl
  test/snapshots/PublishManagerTest.js.snap
  test/snapshots/linux/debTest.js.snap
Labels: linux, app-builder-lib

#8663 fix: use FileCopier for copying files and queue creation of symlinks
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/asar/asarUtil.ts
  packages/app-builder-lib/src/platformPackager.ts
  pnpm-lock.yaml
  test/fixtures/test-app-symlink-framework/hello-world/hello-world-framework.sh
  test/fixtures/test-app-symlink-framework/hello-world/lib/Release/Hello.framework/Headers
  test/fixtures/test-app-symlink-framework/hello-world/lib/Release/Hello.framework/Hello
  test/fixtures/test-app-symlink-framework/hello-world/lib/Release/Hello.framework/Info.plist
  test/fixtures/test-app-symlink-framework/hello-world/lib/Release/Hello.framework/Modules
  test/fixtures/test-app-symlink-framework/hello-world/lib/Release/Hello.framework/Versions/A/Headers/HelloFramework.h
  test/fixtures/test-app-symlink-framework/hello-world/lib/Release/Hello.framework/Versions/A/Hello
  test/fixtures/test-app-symlink-framework/hello-world/lib/Release/Hello.framework/Versions/A/Info.plist
  test/fixtures/test-app-symlink-framework/hello-world/lib/Release/Hello.framework/Versions/A/Modules/Hello.abi.json
  test/fixtures/test-app-symlink-framework/hello-world/lib/Release/Hello.framework/Versions/A/Modules/Hello.swiftdoc
  test/fixtures/test-app-symlink-framework/hello-world/lib/Release/Hello.framework/Versions/A/Modules/Hello.swiftmodule/arm64.private.swiftinterface
  test/fixtures/test-app-symlink-framework/hello-world/lib/Release/Hello.framework/Versions/A/Modules/Hello.swiftmodule/arm64.swiftinterface
  test/fixtures/test-app-symlink-framework/hello-world/lib/Release/Hello.framework/Versions/A/Modules/Hello.swiftmodule/arm64.swiftmodule
  test/fixtures/test-app-symlink-framework/hello-world/lib/Release/Hello.framework/Versions/A/Modules/Hello.swiftmodule/x86_64.private.swiftinterface
  test/fixtures/test-app-symlink-framework/hello-world/lib/Release/Hello.framework/Versions/A/Modules/Hello.swiftmodule/x86_64.swiftinterface
  test/fixtures/test-app-symlink-framework/hello-world/lib/Release/Hello.framework/Versions/A/Modules/Hello.swiftmodule/x86_64.swiftmodule
  test/fixtures/test-app-symlink-framework/hello-world/lib/Release/Hello.framework/Versions/A/Modules/Hello.swiftsourceinfo
  test/fixtures/test-app-symlink-framework/hello-world/lib/Release/Hello.framework/Versions/A/Modules/module.modulemap
  test/fixtures/test-app-symlink-framework/hello-world/lib/Release/Hello.framework/Versions/Current
  test/fixtures/test-app-symlink-framework/hello-world/package.json
  test/fixtures/test-app-symlink-framework/index.js
  test/fixtures/test-app-symlink-framework/package.json
  test/snapshots/globTest.js.snap
  test/src/globTest.ts
Labels: app-builder-lib

#8689 fix(win): corrupt asar integrity file path on crossplatform build
  .changeset/thirty-colts-march.md
  packages/app-builder-lib/src/electron/electronWin.ts
Labels: app-builder-lib

#8637 chore: consolidate default depends/recommends for FPM targets to app-builder-lib
  .changeset/serious-news-own.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/linuxOptions.ts
  packages/app-builder-lib/src/targets/FpmTarget.ts
Labels: linux, app-builder-lib

#8645 fix: smart unpack for local module with dll
  .changeset/brave-snakes-unite.md
  packages/app-builder-lib/src/asar/asarUtil.ts
  packages/app-builder-lib/src/asar/unpackDetector.ts
  packages/app-builder-lib/src/util/NodeModuleCopyHelper.ts
  packages/app-builder-lib/src/util/appFileCopier.ts
  packages/app-builder-lib/src/util/filter.ts
  packages/builder-util/src/fs.ts
  test/snapshots/BuildTest.js.snap
  test/snapshots/globTest.js.snap
  test/src/BuildTest.ts
Labels: app-builder-lib, builder-util
