Repository electron-userland/electron-builder, pull requests merged in 2024-03, with the labels that each got.

#8086 feat(msi): build emulated arm64 MSI installers
  .changeset/chatty-dolphins-poke.md
  packages/app-builder-lib/src/targets/MsiTarget.ts
Labels: app-builder-lib

#8067 fix(deb): only execute `update-desktop-database` and `update-mime-database` when exists on the system
  .changeset/lovely-fishes-impress.md
  packages/app-builder-lib/templates/linux/after-install.tpl
  test/snapshots/linux/debTest.js.snap
Labels: app-builder-lib

#8090 fix(mac): sign NSIS on mac
  .changeset/eighty-bobcats-eat.md
  packages/app-builder-lib/src/codeSign/windowsCodeSign.ts
Labels: windows, app-builder-lib

#8091 fix(mac): revert mac differential autoupdate
  .changeset/slow-comics-look.md
  packages/electron-updater/src/AppUpdater.ts
  packages/electron-updater/src/MacUpdater.ts
  packages/electron-updater/src/NsisUpdater.ts
  test/snapshots/updater/differentialUpdateTest.js.snap
  test/src/updater/differentialUpdateTest.ts
Labels: electron-updater

#8095 fix: mac differential updater
  .changeset/breezy-pans-shop.md
  packages/electron-updater/src/AppUpdater.ts
  packages/electron-updater/src/MacUpdater.ts
  packages/electron-updater/src/NsisUpdater.ts
  test/snapshots/updater/differentialUpdateTest.js.snap
  test/src/updater/differentialUpdateTest.ts
Labels: electron-updater

#8101 fix(mac): add retry in mac code sign
  .changeset/wild-buttons-pretend.md
  packages/app-builder-lib/src/codeSign/macCodeSign.ts
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib

#8108 feat: add minimumSystemVersion in electron updater
  .changeset/chatty-zebras-greet.md
  packages/builder-util-runtime/src/updateInfo.ts
  packages/electron-updater/src/AppUpdater.ts
Labels: electron-updater, builder-util

#8112 feat: yarn 3 support for native modules
  .changeset/twelve-points-whisper.md
  .github/actions/pretest/action.yml
  docs/configuration/configuration.md
  packages/app-builder-lib/package.json
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/electron/electronVersion.ts
  packages/app-builder-lib/src/util/packageMetadata.ts
  packages/app-builder-lib/src/util/rebuild/rebuild.ts
  packages/app-builder-lib/src/util/rebuild/remote-rebuild.ts
  packages/app-builder-lib/src/util/yarn.ts
  pnpm-lock.yaml
  test/fixtures/test-app-two-native-modules/package.json
  test/src/mac/macPackagerTest.ts
Labels: mac, app-builder-lib

#8120 feat: support additionalLightArgs
  .changeset/neat-bottles-wash.md
  docs/configuration/msi.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/MsiOptions.ts
  packages/app-builder-lib/src/targets/MsiTarget.ts
Labels: app-builder-lib

#8123 feat: add disableSanityCheckPackage to asar to allow custom electron fork asar integrity implementations
  .changeset/dirty-rats-happen.md
  docs/configuration/configuration.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/platformPackager.ts
Labels: app-builder-lib

#8119 chore(deps): update dependency typescript-json-schema to v0.63.0
  .changeset/brave-toys-fly.md
  docs/configuration/configuration.md
  docs/configuration/mac.md
  package.json
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/options/macOptions.ts
  pnpm-lock.yaml
Labels: mac, app-builder-lib

#8124 fix: move `disableSanityCheckAsar` to within `checkFileInPackage` for non-asar verification
  .changeset/dirty-rats-happen.md
  .changeset/mighty-spies-knock.md
  docs/configuration/configuration.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/platformPackager.ts
Labels: app-builder-lib

#8125 fix(win): use appInfo description as primary entry for FileDescription
  .changeset/spotty-foxes-count.md
  packages/app-builder-lib/src/winPackager.ts
Labels: windows, app-builder-lib

#8126 chore(docs): update Bitbucket Options token doc
  .changeset/lucky-otters-report.md
  docs/configuration/publish.md
  packages/app-builder-lib/scheme.json
  packages/builder-util-runtime/src/publishOptions.ts
Labels: app-builder-lib, builder-util

#8128 fix: order files in asar for incremental updates
  .changeset/fair-pants-talk.md
  packages/app-builder-lib/src/asar/asarUtil.ts
  test/snapshots/HoistedNodeModuleTest.js.snap
  test/snapshots/globTest.js.snap
Labels: app-builder-lib

#8135 fix: adding retries to account for dmg `hdiutil` flakiness
  .changeset/fast-maps-dress.md
  packages/builder-util/src/util.ts
  packages/dmg-builder/src/dmg.ts
  packages/dmg-builder/src/dmgUtil.ts
  packages/dmg-builder/src/hdiuil.ts
Labels: mac, builder-util, dmg-builder

#8133 fix: replace SYSTEMROOT with SYSDIR
  .changeset/popular-jobs-protect.md
  packages/app-builder-lib/templates/nsis/include/allowOnlyOneInstallerInstance.nsh
Labels: app-builder-lib

#8140 fix: update autoupdate docs to describe module-based support. set nat…
  .changeset/wild-socks-chew.md
  docs/auto-update.md
  docs/configuration/configuration.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/util/yarn.ts
Labels: app-builder-lib

#8152 fix: should not chmod for 7za when process.env.USE_SYSTEM_7ZA is true
  .changeset/selfish-experts-wonder.md
  packages/builder-util/src/7za.ts
Labels: builder-util

#8153 feat: export Packager sub-classes from main electron-builder types
  .changeset/serious-nails-shop.md
  docs/api/electron-builder.md
  packages/app-builder-lib/src/electron/ElectronFramework.ts
  packages/app-builder-lib/src/electron/electronMac.ts
  packages/app-builder-lib/src/frameworks/LibUiFramework.ts
  packages/app-builder-lib/src/index.ts
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/targets/pkg.ts
  packages/dmg-builder/src/dmg.ts
  packages/electron-builder/src/index.ts
  test/src/helpers/CheckingPackager.ts
Labels: mac, app-builder-lib, dmg-builder
