Repository electron-userland/electron-builder, pull requests merged in 2024-10, with the labels that each got.

#8537 fix: pass in platform to electron-rebuild
  .changeset/dirty-clocks-rhyme.md
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/codeSign/windowsSignToolManager.ts
  packages/app-builder-lib/src/util/yarn.ts
  packages/dmg-builder/src/hdiuil.ts
  pnpm-lock.yaml
Labels: windows, mac, app-builder-lib, dmg-builder

#8552 chore(deps): eslint and prettier upgrade to v9
  .eslintignore
  .eslintrc.js
  eslint.config.mjs
  package.json
  packages/app-builder-lib/src/ProtonFramework.ts
  packages/app-builder-lib/src/asar/asarUtil.ts
  packages/app-builder-lib/src/codeSign/macCodeSign.ts
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/publish/KeygenPublisher.ts
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/app-builder-lib/src/util/config/config.ts
  packages/app-builder-lib/src/vm/ParallelsVm.ts
  packages/builder-util/src/asyncTaskManager.ts
  packages/electron-updater/src/AppUpdater.ts
  packages/electron-updater/src/differentialDownloader/downloadPlanBuilder.ts
  packages/electron-updater/src/providers/PrivateGitHubProvider.ts
  pnpm-lock.yaml
  test/src/helpers/checkDeps.ts
Labels: mac, nsis, electron-updater, app-builder-lib, builder-util

#8547 fix: fix the main matcher patterns for !node_modules/@test/xxxx
  .changeset/three-fans-worry.md
  packages/app-builder-lib/src/util/appFileCopier.ts
  test/src/globTest.ts
Labels: app-builder-lib

#8551 fix: check if the file already starts with a UTF-8 BOM
  .changeset/six-spoons-heal.md
  packages/app-builder-lib/src/targets/nsis/nsisLicense.ts
Labels: nsis, app-builder-lib

#8560 fix: Path does not end with the package name
  .changeset/swift-apricots-explode.md
  packages/app-builder-lib/src/util/appFileCopier.ts
  test/src/globTest.ts
Labels: app-builder-lib

#8566 chore: update logging to be a debug message
  .changeset/many-shoes-look.md
  packages/app-builder-lib/src/codeSign/windowsSignToolManager.ts
Labels: windows, app-builder-lib

#8525 feat: migrate `electronDist` to be an electron-builder `Hook`
  .changeset/tiny-cobras-walk.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/electron/ElectronFramework.ts
  packages/app-builder-lib/src/index.ts
  test/snapshots/ExtraBuildResourcesTest.js.snap
  test/src/ExtraBuildResourcesTest.ts
Labels: app-builder-lib

#8562 fix: support including node_modules in other subdirectories
  .changeset/tricky-files-speak.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/fileMatcher.ts
  packages/app-builder-lib/src/util/AppFileWalker.ts
  packages/app-builder-lib/src/util/filter.ts
  packages/builder-util/src/fs.ts
  test/snapshots/ignoreTest.js.snap
  test/src/ignoreTest.ts
Labels: app-builder-lib, builder-util

#8572 feat: allowing additional entries in .desktop file, such as `[Desktop Actions <actionName>]`
  .changeset/sweet-masks-sparkle.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/index.ts
  packages/app-builder-lib/src/options/linuxOptions.ts
  packages/app-builder-lib/src/targets/LinuxTargetHelper.ts
  test/snapshots/linux/linuxPackagerTest.js.snap
  test/src/ExtraBuildResourcesTest.ts
  test/src/ignoreTest.ts
  test/src/linux/linuxPackagerTest.ts
  typedoc.config.js
Labels: linux, app-builder-lib

#8577 fix: add additional default exclusions to copy logic
  .changeset/lucky-tigers-do.md
  packages/app-builder-lib/src/fileMatcher.ts
  packages/app-builder-lib/src/util/NodeModuleCopyHelper.ts
  test/snapshots/HoistedNodeModuleTest.js.snap
  test/snapshots/globTest.js.snap
  test/snapshots/ignoreTest.js.snap
  test/snapshots/mac/macPackagerTest.js.snap
  test/src/globTest.ts
Labels: app-builder-lib

#8576 fix: packages in the workspace not being under node_modules
  .changeset/nasty-mangos-yawn.md
  packages/app-builder-lib/src/util/AppFileWalker.ts
  packages/app-builder-lib/src/util/NodeModuleCopyHelper.ts
  packages/app-builder-lib/src/util/appFileCopier.ts
  packages/app-builder-lib/src/util/filter.ts
  packages/builder-util/src/fs.ts
  test/fixtures/test-app-yarn-several-workspace/packages/foo/package.json
  test/fixtures/test-app-yarn-several-workspace/packages/test-app/package.json
  test/snapshots/HoistedNodeModuleTest.js.snap
  test/src/HoistedNodeModuleTest.ts
Labels: app-builder-lib, builder-util

#8570 feat: migrate to `electron/asar` package
  .changeset/ninety-candles-laugh.md
  .vscode/launch.json
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/asar/asarFileChecker.ts
  packages/app-builder-lib/src/asar/asarUtil.ts
  packages/app-builder-lib/src/asar/unpackDetector.ts
  packages/app-builder-lib/src/platformPackager.ts
  packages/app-builder-lib/src/util/appFileCopier.ts
  pnpm-lock.yaml
  test/snapshots/BuildTest.js.snap
  test/snapshots/HoistedNodeModuleTest.js.snap
  test/snapshots/globTest.js.snap
  test/snapshots/mac/macPackagerTest.js.snap
  test/snapshots/mainEntryTest.js.snap
  test/src/BuildTest.ts
  test/src/ExtraBuildResourcesTest.ts
  test/src/globTest.ts
  test/src/helpers/checkDeps.ts
Labels: app-builder-lib

#8588 feat: add integration for `@electron/fuses`
  .changeset/two-rice-wash.md
  mkdocs.yml
  package.json
  packages/app-builder-lib/package.json
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/index.ts
  packages/app-builder-lib/src/platformPackager.ts
  pages/tutorials/adding-electron-fuses.md
  pages/tutorials/code-signing-windows-apps-on-unix.md
  pnpm-lock.yaml
  test/src/linux/debTest.ts
  test/src/linux/flatpakTest.ts
  test/src/linux/fpmTest.ts
  test/src/linux/linuxArchiveTest.ts
  test/src/linux/linuxPackagerTest.ts
  test/src/linux/snapHeavyTest.ts
  test/src/linux/snapTest.ts
  test/src/mac/macPackagerTest.ts
  test/src/windows/appxTest.ts
  test/src/windows/assistedInstallerTest.ts
  test/src/windows/msiTest.ts
  test/src/windows/msiWrappedTest.ts
  test/src/windows/oneClickInstallerTest.ts
  test/src/windows/portableTest.ts
  test/src/windows/squirrelWindowsTest.ts
  test/src/windows/webInstallerTest.ts
  test/src/windows/winPackagerTest.ts
Labels: windows, mac, linux, app-builder-lib

#8601 fix(win): Revert "fix(win): use appInfo description as primary entry for FileDescription"
  .changeset/stupid-buses-compete.md
  packages/app-builder-lib/src/winPackager.ts
Labels: windows, app-builder-lib

#8603 fix: check relative path in `asarUtil` without path separator
  .changeset/slimy-chairs-buy.md
  packages/app-builder-lib/src/asar/asarUtil.ts
Labels: app-builder-lib

#8604 chore(deps): update dependency app-builder-bin to 5.0.0-alpha.11
  .changeset/slow-zoos-mate.md
  packages/builder-util/package.json
  pnpm-lock.yaml
Labels: builder-util

#8596 chore: refactor Publishers out of app-builder-lib into electron-publish
  .changeset/fluffy-wolves-smile.md
  mkdocs.yml
  packages/app-builder-lib/package.json
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/appInfo.ts
  packages/app-builder-lib/src/index.ts
  packages/app-builder-lib/src/linuxPackager.ts
  packages/app-builder-lib/src/options/CommonWindowsInstallerConfiguration.ts
  packages/app-builder-lib/src/options/PlatformSpecificBuildOptions.ts
  packages/app-builder-lib/src/publish/PublishManager.ts
  packages/builder-util/package.json
  packages/builder-util/src/filename.ts
  packages/dmg-builder/src/dmg.ts
  packages/electron-builder-squirrel-windows/src/SquirrelWindowsTarget.ts
  packages/electron-builder/src/cli/create-self-signed-cert.ts
  packages/electron-builder/src/publish.ts
  packages/electron-publish/package.json
  packages/electron-publish/src/bitbucketPublisher.ts
  packages/electron-publish/src/gitHubPublisher.ts
  packages/electron-publish/src/httpPublisher.ts
  packages/electron-publish/src/index.ts
  packages/electron-publish/src/keygenPublisher.ts
  packages/electron-publish/src/publisher.ts
  packages/electron-publish/src/s3/baseS3Publisher.ts
  packages/electron-publish/src/s3/s3Publisher.ts
  packages/electron-publish/src/s3/spacesPublisher.ts
  packages/electron-publish/src/snapStorePublisher.ts
  packages/electron-publish/tsconfig.json
  packages/electron-publish/typedoc.json
  pnpm-lock.yaml
  test/src/ArtifactPublisherTest.ts
  test/src/filenameUtilTest.ts
  test/src/updater/nsisUpdaterTest.ts
Labels: mac, linux, Squirrel.Windows, app-builder-lib, electron-publish, builder-util, dmg-builder

#8606 fix: add quotes to surround file path during azure signing to handle files with spaces
  .changeset/sixty-dogs-deliver.md
  packages/app-builder-lib/src/codeSign/windowsSignAzureManager.ts
Labels: windows, app-builder-lib

#8623 fix: copyFileSync operation will block the main thread
  .changeset/khaki-schools-provide.md
  packages/electron-updater/src/MacUpdater.ts
Labels: electron-updater

#8631 fix: Remove path from published binaries
  .changeset/wet-hats-drum.md
  packages/electron-publish/src/httpPublisher.ts
Labels: electron-publish

#8627 fix(win): add rfc3161 timestamp entry as default for azure signing
  .changeset/gold-parents-complain.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/codeSign/windowsSignAzureManager.ts
  packages/app-builder-lib/src/options/winOptions.ts
Labels: windows, app-builder-lib

#8633 feat(updater): allow usage of `autoRunAppAfterInstall` with mac updater
  .changeset/new-zoos-repair.md
  packages/electron-updater/src/AppUpdater.ts
  packages/electron-updater/src/MacUpdater.ts
Labels: electron-updater

#8632 fix: remove concurrency of windows codesign
  .changeset/sour-points-refuse.md
  packages/app-builder-lib/src/codeSign/windowsCodeSign.ts
  packages/app-builder-lib/src/winPackager.ts
Labels: windows, app-builder-lib

#8639 chore: refactor electron dist logic to avoid unnecessary console logs
  .changeset/small-peas-drop.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/electron/ElectronFramework.ts
Labels: app-builder-lib

#8650 fix(win): add mandatory `publisherName` field to Azure Trusted Signing
  .changeset/dull-eyes-check.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/codeSign/signManager.ts
  packages/app-builder-lib/src/codeSign/windowsCodeSign.ts
  packages/app-builder-lib/src/codeSign/windowsSignAzureManager.ts
  packages/app-builder-lib/src/codeSign/windowsSignToolManager.ts
  packages/app-builder-lib/src/options/winOptions.ts
  packages/app-builder-lib/src/publish/PublishManager.ts
  packages/app-builder-lib/src/targets/AppxTarget.ts
  packages/app-builder-lib/src/winPackager.ts
  test/src/windows/winCodeSignTest.ts
Labels: windows, app-builder-lib
