Repository electron-userland/electron-builder, pull requests merged in 2024-07, with the labels that each got.

#8286 fix: Folder's named "constructor" not being included in asar
  .changeset/lazy-buttons-hunt.md
  packages/app-builder-lib/src/asar/asar.ts
Labels: app-builder-lib

#8295 fix: verify LiteralPath of update file during windows signature verification
  .changeset/nervous-carrots-begin.md
  packages/electron-updater/src/windowsExecutableCodeSignatureVerifier.ts
Labels: windows, electron-updater

#8291 feat: add MemoLazy to fix codeSigningInfo not responding to changed args
  .changeset/fluffy-dryers-enjoy.md
  .github/workflows/test.yaml
  docs/api/electron-builder.md
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/winPackager.ts
  packages/builder-util-runtime/src/MemoLazy.ts
  packages/builder-util-runtime/src/index.ts
  pnpm-lock.yaml
  test/package.json
  test/src/MemoLazyTest.ts
Labels: windows, mac, app-builder-lib, builder-util

#8311 fix(rpm-updater): stop uninstalling app before update
  .changeset/real-ducks-repair.md
  packages/electron-updater/src/RpmUpdater.ts
Labels: electron-updater

#8314 fix: Nsis license file encode issue
  .changeset/tidy-donkeys-protect.md
  packages/app-builder-lib/src/targets/nsis/nsisLicense.ts
Labels: nsis, app-builder-lib

#8310 fix: binary checking
  .changeset/lovely-bottles-allow.md
  packages/app-builder-lib/src/asar/unpackDetector.ts
Labels: app-builder-lib

#8303 chore: update electron version in CI tests
  .github/actions/pretest/action.yml
  .github/workflows/test.yaml
  .nvmrc
  pnpm-lock.yaml
  test/fixtures/test-app-build-sub/electron-builder.yml
  test/fixtures/test-app-one/package.json
  test/fixtures/test-app-yarn-several-workspace/packages/test-app/package.json
  test/fixtures/test-app-yarn-workspace-version-conflict/packages/test-app/package.json
  test/fixtures/test-app-yarn-workspace/packages/test-app/package.json
  test/fixtures/test-app/package.json
  test/snapshots/PublishManagerTest.js.snap
  test/snapshots/filesTest.js.snap
  test/snapshots/linux/debTest.js.snap
  test/snapshots/linux/linuxPackagerTest.js.snap
  test/snapshots/mac/dmgTest.js.snap
  test/snapshots/mac/macPackagerTest.js.snap
  test/snapshots/updater/differentialUpdateTest.js.snap
  test/src/filesTest.ts
  test/src/helpers/downloadElectron.ts
  test/src/helpers/testConfig.ts
  test/src/linux/linuxPackagerTest.ts
  test/src/updater/differentialUpdateTest.ts
Labels: linux

#8323 chore(deps): update dependency typescript to v5.5.3
  .changeset/famous-cycles-walk.md
  package.json
  packages/app-builder-lib/src/codeSign/macCodeSign.ts
  packages/app-builder-lib/src/util/normalizePackageData.ts
  packages/electron-updater/src/RpmUpdater.ts
  pnpm-lock.yaml
Labels: mac, electron-updater, app-builder-lib

#8327 fix(deps): update dependency minimatch to v10
  .changeset/mean-horses-film.md
  packages/app-builder-lib/package.json
  pnpm-lock.yaml
Labels: app-builder-lib

#8308 chore(docker): Add node20 build in docker/build.sh
  docker/build.sh
  docker/node/Dockerfile
  package.json
Labels: docker

#8341 fix(deps): update dependency @electron/osx-sign to v1.3.1
  .changeset/thin-forks-lie.md
  packages/app-builder-lib/package.json
  pnpm-lock.yaml
Labels: app-builder-lib

#8352 fix: setting `disablePreGypCopy: true` and updating unit test with `node-pty` native module
  .changeset/brave-bottles-sell.md
  packages/app-builder-lib/src/util/yarn.ts
  test/fixtures/test-app-two-native-modules/app/package.json
  test/fixtures/test-app-two-native-modules/app/yarn.lock
  test/snapshots/HoistedNodeModuleTest.js.snap
  test/snapshots/mac/macPackagerTest.js.snap
  test/src/helpers/verifySmartUnpack.ts
Labels: app-builder-lib

#8353 fix: updating app-builder dependency
  .changeset/light-pillows-end.md
  packages/builder-util/package.json
  pnpm-lock.yaml
  run-tests-in-docker-custom-app-builder.sh
Labels: builder-util

#8356 fix: adding additional logging when importing/requiring a hook script
  .changeset/polite-impalas-shout.md
  packages/app-builder-lib/src/platformPackager.ts
Labels: app-builder-lib

#8364 chore(deps): update babel monorepo
  .changeset/slow-toys-camp.md
  package.json
  packages/app-builder-lib/package.json
  pnpm-lock.yaml
Labels: app-builder-lib

#8368 fix(linux): Don't setuid chrome-sandbox when not required
  .changeset/purple-terms-sing.md
  packages/app-builder-lib/templates/linux/after-install.tpl
  test/snapshots/linux/debTest.js.snap
Labels: app-builder-lib

#8372 fix: allow typescript typechecking for electron-updater `.d.ts`
  .changeset/selfish-ligers-cry.md
  packages/app-builder-lib/tsconfig-scheme.json
  packages/app-builder-lib/tsconfig.json
  packages/electron-builder/tsconfig.json
  packages/electron-updater/package.json
  packages/electron-updater/src/AppUpdater.ts
  packages/electron-updater/src/ElectronAppAdapter.ts
  packages/electron-updater/src/NsisUpdater.ts
  packages/electron-updater/src/electronHttpExecutor.ts
  packages/electron-updater/src/main.ts
  packages/electron-updater/tsconfig.json
  pnpm-lock.yaml
  test/src/helpers/TestAppAdapter.ts
  test/tsconfig.json
  typings/electron.d.ts
Labels: electron-updater, app-builder-lib

#8375 fix: cancellation token management for packager and retry logic
  .changeset/silly-impalas-relax.md
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/platformPackager.ts
  packages/builder-util/src/util.ts
Labels: mac, app-builder-lib, builder-util

#8371 fix: delete the symlink file when the target is empty
  .changeset/happy-monkeys-rule.md
  packages/app-builder-lib/src/util/NodeModuleCopyHelper.ts
Labels: app-builder-lib

#8378 fix: Add global download promise to limit concurrent downloads to 1
  .changeset/green-brooms-mix.md
  packages/electron-updater/src/AppUpdater.ts
Labels: electron-updater

#8387 fix: upgrade app-builder-bin with downgraded appimage tool
  .changeset/quiet-pugs-doubt.md
  packages/builder-util/package.json
  pnpm-lock.yaml
Labels: builder-util

#8384 fix(windows,code-sign): cannot sign binary files in Github Actions
  .changeset/good-news-stare.md
  packages/app-builder-lib/src/codeSign/windowsCodeSign.ts
Labels: windows, app-builder-lib
