Repository electron-userland/electron-builder, pull requests merged in 2024-09, with the labels that each got.

#8437 fix: retry renaming update file when EBUSY error occurs due to file lock
  .changeset/serious-kings-own.md
  packages/builder-util-runtime/src/index.ts
  packages/builder-util-runtime/src/retry.ts
  packages/builder-util/src/util.ts
  packages/electron-updater/src/AppUpdater.ts
Labels: electron-updater, builder-util

#8455 fix: allow usage of `module` type config files
  .changeset/smart-impalas-explain.md
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/codeSign/windowsCodeSign.ts
  packages/app-builder-lib/src/electron/electronVersion.ts
  packages/app-builder-lib/src/index.ts
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/platformPackager.ts
  packages/app-builder-lib/src/util/NodeModuleCopyHelper.ts
  packages/app-builder-lib/src/util/config/config.ts
  packages/app-builder-lib/src/util/config/load.ts
  packages/app-builder-lib/src/util/resolve.ts
  packages/electron-builder/package.json
  packages/electron-builder/src/cli/cli.ts
  packages/electron-builder/src/cli/install-app-deps.ts
  packages/electron-builder/src/publish.ts
  pnpm-lock.yaml
  test/src/BuildTest.ts
  test/src/configurationValidationTest.ts
Labels: windows, mac, app-builder-lib

#8463 chore: update test snapshot and improve file path logging
  .changeset/shy-cobras-smell.md
  packages/app-builder-lib/src/electron/electronWin.ts
  packages/app-builder-lib/src/electron/injectFFMPEG.ts
  packages/app-builder-lib/src/publish/PublishManager.ts
  packages/app-builder-lib/src/targets/FpmTarget.ts
  test/snapshots/BuildTest.js.snap
Labels: app-builder-lib

#8467 chore: update docs to include more interfaces and change changset-cli release configuration
  .changeset/config.json
  .changeset/sharp-sloths-teach.md
  docs/api/electron-builder.md
  docs/generated/NsisOptions.md
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/index.ts
  packages/app-builder-lib/src/targets/nsis/nsisOptions.ts
  scripts/jsdoc2md2html.js
  test/snapshots/globTest.js.snap
Labels: nsis, app-builder-lib

#8477 chore: pin semver using `^` (current version) to prevent major semver jumps from minor changesets
  packages/app-builder-lib/package.json
  packages/builder-util/package.json
  packages/dmg-builder/package.json
  packages/electron-builder-squirrel-windows/package.json
  packages/electron-builder/package.json
  packages/electron-forge-maker-appimage/package.json
  packages/electron-forge-maker-nsis-web/package.json
  packages/electron-forge-maker-nsis/package.json
  packages/electron-forge-maker-snap/package.json
  packages/electron-publish/package.json
  packages/electron-updater/package.json
  pnpm-lock.yaml
  test/package.json
Labels: mac, Squirrel.Windows, nsis, AppImage, electron-updater, snap, app-builder-lib, electron-publish, builder-util, dmg-builder

#8472 chore(deps): update dependency @electron/notarize to v2.4.0
  .changeset/yellow-penguins-hug.md
  packages/app-builder-lib/package.json
  pnpm-lock.yaml
Labels: app-builder-lib

#8478 chore(deps): update dependency app-builder-bin to v5.0.0-alpha.8
  .changeset/hungry-lemons-mate.md
  packages/builder-util/package.json
  pnpm-lock.yaml
Labels: builder-util

#8450 fix: correct native dependency tree mismatch in app-builder rebuild
  .changeset/chatty-rice-hunt.md
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/util/packageDependencies.ts
  packages/electron-builder/src/cli/install-app-deps.ts
Labels: app-builder-lib

#8482 fix: checking extensions for `cjs` vs `mjs` while resolving config
  .changeset/cyan-months-unite.md
  package.json
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/util/config/load.ts
  packages/builder-util/package.json
  packages/dmg-builder/package.json
  packages/electron-builder-squirrel-windows/package.json
  packages/electron-builder/package.json
  packages/electron-forge-maker-appimage/package.json
  packages/electron-forge-maker-nsis-web/package.json
  packages/electron-forge-maker-nsis/package.json
  packages/electron-forge-maker-snap/package.json
  packages/electron-publish/package.json
  packages/electron-updater/package.json
  pnpm-lock.yaml
  test/package.json
Labels: mac, Squirrel.Windows, nsis, AppImage, electron-updater, snap, app-builder-lib, electron-publish, builder-util, dmg-builder

#8486 fix(deploy): redeploy all packages to sync semver ranges
  .changeset/chilled-pigs-fly.md
  .changeset/config.json
  packages/app-builder-lib/package.json
  packages/builder-util/package.json
  packages/dmg-builder/package.json
  packages/electron-builder-squirrel-windows/package.json
  packages/electron-builder/package.json
  packages/electron-forge-maker-appimage/package.json
  packages/electron-forge-maker-nsis-web/package.json
  packages/electron-forge-maker-nsis/package.json
  packages/electron-forge-maker-snap/package.json
  packages/electron-publish/package.json
  packages/electron-updater/package.json
  pnpm-lock.yaml
Labels: mac, Squirrel.Windows, nsis, AppImage, electron-updater, snap, app-builder-lib, electron-publish, builder-util, dmg-builder

#8481 fix: Fix issues with conflictDependency that have two or more layers
  .changeset/quick-vans-sip.md
  packages/app-builder-lib/src/util/appFileCopier.ts
Labels: app-builder-lib

#8489 chore(deps): update dependency app-builder-bin to 5.0.0-alpha.9
  .changeset/witty-bears-sell.md
  packages/builder-util/package.json
  pnpm-lock.yaml
Labels: builder-util

#8495 chore(docs): more improvements and clarity - extracting more docs from documentation site directly into typedocs
  .changeset/chilly-deers-cry.md
  mkdocs-dockerfile
  mkdocs.yml
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/index.ts
  pages/api/electron-builder.md
  pages/appimage.md
  pages/appx.md
  pages/configuration.md
  pages/contents.md
  pages/dmg.md
  pages/flatpak.md
  pages/hooks.md
  pages/linux.md
  pages/mac.md
  pages/mas.md
  pages/modules.md
  pages/msi-wrapped.md
  pages/msi.md
  pages/nsis.md
  pages/pkg.md
  pages/programmatic-usage.md
  pages/publish.md
  pages/snap.md
  pages/squirrel-windows.md
  pages/stylesheets/autowidth.css
  pages/tutorials/release-using-channels.md
  pages/win.md
  scripts/renderer/src/customRendererPlugin.ts
  scripts/renderer/src/typedoc2html.ts
  test/README.md
  typedoc.config.js
Labels: app-builder-lib

#8497 chore(docs): fixing strikethrough text
  mkdocs.yml
  packages/app-builder-lib/src/options/winOptions.ts
  pages/code-signing.md
Labels: windows, app-builder-lib

#8475 chore(deps): update dependency https-proxy-agent to v7
  .changeset/polite-candles-hear.md
  packages/builder-util/package.json
  pnpm-lock.yaml
Labels: builder-util

#8476 chore(deps): update dependency http-proxy-agent to v7
  .changeset/clean-eggs-itch.md
  packages/builder-util/package.json
  pnpm-lock.yaml
Labels: builder-util

#8501 chore(docs): fix hyperlinks and add more documentation
  .changeset/two-donuts-return.md
  README.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/options/AppXOptions.ts
  packages/app-builder-lib/src/options/PlatformSpecificBuildOptions.ts
  packages/app-builder-lib/src/options/SnapOptions.ts
  packages/app-builder-lib/src/options/linuxOptions.ts
  packages/app-builder-lib/src/options/macOptions.ts
  packages/app-builder-lib/src/targets/nsis/nsisOptions.ts
  pages/appimage.md
  pages/appx.md
  pages/auto-update.md
  pages/cli.md
  pages/dmg.md
  pages/file-patterns.md
  pages/flatpak.md
  pages/icons.md
  pages/linux.md
  pages/mac.md
  pages/mas.md
  pages/nsis.md
  pages/pkg.md
  pages/publish.md
  pages/snap.md
  pages/squirrel-windows.md
  pages/tutorials/code-signing-windows-apps-on-unix.md
  pages/tutorials/two-package-structure.md
  pages/win.md
  typedoc.config.js
Labels: mac, linux, nsis, app-builder-lib

#8502 fix(appx): utilize `applicationId` verbatim when provided
  .changeset/orange-radios-tie.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/index.ts
  packages/app-builder-lib/src/targets/AppxTarget.ts
  pages/configuration.md
Labels: app-builder-lib

#8504 fix(deps): update dependency @electron/notarize to v2.5.0
  .changeset/olive-grapes-switch.md
  packages/app-builder-lib/package.json
  pnpm-lock.yaml
Labels: app-builder-lib

#8506 chore(deps): cleaning up unused dev dependencies
  package.json
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  pnpm-lock.yaml
Labels: nsis, app-builder-lib

#8514 chore(deps): update typescript eslint monorepo packages (major semver bump)
  .eslintrc.js
  package.json
  packages/app-builder-lib/src/ProtonFramework.ts
  packages/app-builder-lib/src/asar/asarFileChecker.ts
  packages/app-builder-lib/src/asar/asarUtil.ts
  packages/app-builder-lib/src/fileMatcher.ts
  packages/app-builder-lib/src/publish/PublishManager.ts
  packages/app-builder-lib/src/util/config/config.ts
  packages/app-builder-lib/src/util/config/load.ts
  packages/app-builder-lib/src/util/packageMetadata.ts
  packages/builder-util-runtime/src/CancellationToken.ts
  packages/builder-util/src/fs.ts
  packages/dmg-builder/src/dmg.ts
  packages/electron-updater/src/DownloadedUpdateHelper.ts
  packages/electron-updater/src/NsisUpdater.ts
  packages/electron-updater/src/differentialDownloader/DifferentialDownloader.ts
  pnpm-lock.yaml
  scripts/jsdoc/examples.hbs
  scripts/jsdoc/examples/DmgOptions/change file icons location for DMG.json
  scripts/jsdoc/header.hbs
  scripts/jsdoc/helpers.js
  scripts/jsdoc/linked-type-list.hbs
  scripts/jsdoc/params-list.hbs
  scripts/jsdoc/properties-list.hbs
  scripts/jsdoc/properties-table.hbs
  scripts/jsdoc/scope.hbs
  scripts/jsdoc/sig-name.hbs
  scripts/process.js
  test/src/helpers/checkDeps.ts
Labels: mac, electron-updater, app-builder-lib, builder-util, dmg-builder

#8516 chore(deps): update typescript 5.x lockfile
  .changeset/plenty-sheep-argue.md
  package.json
  packages/app-builder-lib/src/codeSign/windowsSignToolManager.ts
  packages/electron-updater/src/DownloadedUpdateHelper.ts
  pnpm-lock.yaml
Labels: windows, electron-updater, app-builder-lib

#8524 fix: azure signing logic should not have logic flow dependent on custom signtool hook
  .changeset/tiny-knives-behave.md
  packages/app-builder-lib/src/codeSign/windowsSignAzureManager.ts
  packages/app-builder-lib/src/codeSign/windowsSignToolManager.ts
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/app-builder-lib/src/winPackager.ts
  test/snapshots/windows/winCodeSignTest.js.snap
  test/src/windows/winCodeSignTest.ts
Labels: windows, nsis, app-builder-lib

#8531 fix: always produce Release .node builds
  .changeset/wise-turtles-heal.md
  packages/app-builder-lib/src/util/yarn.ts
Labels: app-builder-lib

#8533 fix: add `CodeSigningAccountName` as required prop in Azure Signing Options
  .changeset/real-otters-sparkle.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/codeSign/windowsSignAzureManager.ts
  packages/app-builder-lib/src/options/winOptions.ts
  test/src/windows/winCodeSignTest.ts
Labels: windows, app-builder-lib

#8534 chore(deps): update dependency app-builder-bin to 5.0.0-alpha.10
  .changeset/silly-cooks-allow.md
  packages/builder-util/package.json
  pnpm-lock.yaml
Labels: builder-util

#8541 fix: Unable to copy file for caching: ENOENT
  .changeset/dry-rockets-pretend.md
  packages/electron-updater/src/MacUpdater.ts
Labels: electron-updater
