Repository electron-userland/electron-builder, pull requests merged in 2024-08, with the labels that each got.

#8400 fix(electron-updater,deb): Handle spaces in application artifact name for deb
  .changeset/angry-cycles-kick.md
  packages/electron-updater/src/DebUpdater.ts
Labels: electron-updater

#8392 feat: unpacked native node file
  .changeset/brown-singers-breathe.md
  packages/app-builder-lib/src/asar/unpackDetector.ts
  test/snapshots/BuildTest.js.snap
Labels: app-builder-lib

#8393 feat: add custom channel in github provider
  .changeset/clean-trainers-talk.md
  packages/electron-updater/src/providers/GitHubProvider.ts
Labels: electron-updater

#8398 fix: add disableDefaultIgnoredFiles option
  .changeset/smooth-roses-laugh.md
  docs/generated/PlatformSpecificBuildOptions.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/PlatformSpecificBuildOptions.ts
  packages/app-builder-lib/src/util/NodeModuleCopyHelper.ts
Labels: app-builder-lib

#8406 fix: return parent dir for local dependency
  .changeset/sixty-plants-lie.md
  packages/app-builder-lib/src/util/appFileCopier.ts
Labels: app-builder-lib

#8403 fix: handle spaces in artifact name for all linux platforms instead of only .deb
  .changeset/old-ducks-cry.md
  packages/electron-updater/src/BaseUpdater.ts
  packages/electron-updater/src/DebUpdater.ts
Labels: electron-updater

#8407 docs: Fix a broken link formatting in the docs
  packages/app-builder-lib/src/options/linuxOptions.ts
Labels: linux, app-builder-lib

#8409 fix: windows signature verification special chars
  .changeset/proud-cats-try.md
  packages/electron-updater/src/windowsExecutableCodeSignatureVerifier.ts
Labels: windows, electron-updater

#8282 fix: change abort to aborted event
  .changeset/strong-spiders-grab.md
  packages/electron-updater/src/differentialDownloader/DifferentialDownloader.ts
Labels: electron-updater

#8417 chore(deps): upgrade semver to latest to resolve CVE
  .changeset/chatty-mayflies-argue.md
  packages/electron-updater/package.json
  pnpm-lock.yaml
Labels: electron-updater

#8143 feat: allow `riscv64` support via custom electron dist
  .changeset/stupid-avocados-appear.md
  docs/api/electron-builder.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/linuxPackager.ts
  packages/app-builder-lib/src/targets/snap.ts
  packages/builder-util/src/arch.ts
  packages/electron-builder/src/builder.ts
  test/src/helpers/downloadElectron.ts
Labels: linux, app-builder-lib, builder-util

#8427 fix: Revert "feat: allow `riscv64` support via custom electron dist"
  .changeset/stupid-avocados-appear.md
  docs/api/electron-builder.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/linuxPackager.ts
  packages/app-builder-lib/src/targets/snap.ts
  packages/builder-util/src/arch.ts
  packages/electron-builder/src/builder.ts
  test/src/helpers/downloadElectron.ts
Labels: linux, app-builder-lib, builder-util

#8424 fix: Snap publish regression
  .changeset/small-badgers-pull.md
  packages/app-builder-lib/src/targets/snap.ts
Labels: app-builder-lib
