Repository electron-userland/electron-builder, pull requests merged in 2024-01, with the labels that each got.

#7955 fix: product file name is too long causing the find process exe failed
  .changeset/happy-otters-heal.md
  packages/app-builder-lib/templates/nsis/include/allowOnlyOneInstallerInstance.nsh
Labels: app-builder-lib

#7950 feat(nsis): add option to disable differential download
  .changeset/violet-icons-approve.md
  docs/api/electron-builder.md
  packages/electron-updater/src/AppUpdater.ts
  packages/electron-updater/src/NsisUpdater.ts
Labels: electron-updater

#7967 feat(nsis): add NsisOption to specify selectPerMachineByDefault
  .changeset/dull-brooms-search.md
  docs/generated/NsisOptions.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/targets/nsis/Defines.ts
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/app-builder-lib/src/targets/nsis/nsisOptions.ts
  packages/app-builder-lib/templates/nsis/assistedInstaller.nsh
Labels: nsis, app-builder-lib

#7971 feat(archive): skip archive when up to date
  .changeset/forty-hats-press.md
  packages/app-builder-lib/src/targets/archive.ts
Labels: app-builder-lib

#7978 fix(linux): Use ~ as pre-release separator for deb targets
  .changeset/stupid-bears-hammer.md
  packages/app-builder-lib/src/targets/LinuxTargetHelper.ts
Labels: app-builder-lib

#8002 feat(mac): Support for a custom 'sign' function in mac config
  .changeset/fresh-poems-greet.md
  docs/configuration/mac.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/index.ts
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/options/macOptions.ts
Labels: mac, app-builder-lib

#7998 fix: Use full path to macOS signing utilities
  .changeset/thirty-bobcats-beg.md
  packages/app-builder-lib/src/codeSign/macCodeSign.ts
Labels: mac, app-builder-lib

#8010 fix: use CI_COMMIT_TAG instead of CI_BUILD_TAG for Gitlab CI
  .changeset/empty-ears-do.md
  packages/electron-publish/src/publisher.ts
Labels: electron-publish

#8022 fix(mac): Update mac notarize keychain env var to be optional
  .changeset/flat-glasses-smell.md
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib
