Repository electron-userland/electron-builder, pull requests merged in 2025-08, with the labels that each got.

#9182 fix: scrubbing more aggressively anything in the logs
  .changeset/shaggy-garlics-joke.md
  .github/workflows/test.yaml
  packages/builder-util/src/util.ts
  test/snapshots/builder-util/utilTest.js.snap
  test/src/builder-util/utilTest.ts
Labels: builder-util

#9216 feat(github): Add `tagNamePrefix` option
  .changeset/chatty-points-shop.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/publish/PublishManager.ts
  packages/builder-util-runtime/src/index.ts
  packages/builder-util-runtime/src/publishOptions.ts
  packages/electron-publish/src/gitHubPublisher.ts
Labels: app-builder-lib, electron-publish, builder-util

#9232 fix: auto-update powershell script
  .changeset/hot-cars-attack.md
  packages/electron-updater/src/windowsExecutableCodeSignatureVerifier.ts
Labels: windows, electron-updater

#9257 fix: detect wrong package manager for two package.json structure
  .changeset/tough-walls-bathe.md
  packages/app-builder-lib/src/node-module-collector/index.ts
  packages/app-builder-lib/src/node-module-collector/packageManager.ts
  packages/app-builder-lib/src/util/appFileCopier.ts
  packages/app-builder-lib/src/util/yarn.ts
  test/src/helpers/packTester.ts
Labels: app-builder-lib

#9245 fix(nsis): undefined vars when customCheckAppRunning is defined
  .changeset/old-spies-lick.md
  packages/app-builder-lib/templates/nsis/include/allowOnlyOneInstallerInstance.nsh
Labels: app-builder-lib
