Repository electron-userland/electron-builder, pull requests merged in 2025-04, with the labels that each got.

#9007 fix(mac): allow ad-hoc identities for codesigning
  .changeset/tame-radios-pump.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/codeSign/macCodeSign.ts
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/options/macOptions.ts
  pages/code-signing-mac.md
Labels: mac, app-builder-lib

#9018 docs(electron-publish): Mention the use of ~/.aws/config in electron-publisher s3 options
  .changeset/weak-schools-hug.md
  packages/app-builder-lib/scheme.json
  packages/builder-util-runtime/src/publishOptions.ts
Labels: app-builder-lib, builder-util

#9022 chore(deps): updating electron/rebuild to latest 3.7.2
  .changeset/green-clocks-drop.md
  packages/app-builder-lib/package.json
  pnpm-lock.yaml
Labels: app-builder-lib

#9010 fix: remove implicit dependencies handling
  .changeset/lovely-shrimps-buy.md
  packages/app-builder-lib/src/node-module-collector/nodeModulesCollector.ts
  packages/app-builder-lib/src/node-module-collector/npmNodeModulesCollector.ts
  packages/app-builder-lib/src/node-module-collector/pnpmNodeModulesCollector.ts
  packages/app-builder-lib/src/node-module-collector/types.ts
  test/snapshots/HoistedNodeModuleTest.js.snap
  test/src/HoistedNodeModuleTest.ts
Labels: app-builder-lib

#9021 feat(electron-updater): allow overriding AppUpdater.isStagingMatch
  .changeset/flat-schools-mate.md
  packages/electron-updater/src/AppUpdater.ts
Labels: electron-updater

#8992 fix: missing lowercase comparison in electron-updater
  .changeset/wicked-zebras-begin.md
  packages/electron-updater/src/AppUpdater.ts
  packages/electron-updater/src/providers/Provider.ts
Labels: electron-updater

#9013 fix: dependency path is undefined
  .changeset/tall-geese-invite.md
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/util/appFileCopier.ts
  packages/app-builder-lib/src/util/yarn.ts
  packages/electron-builder/src/cli/install-app-deps.ts
  test/snapshots/HoistedNodeModuleTest.js.snap
  test/src/HoistedNodeModuleTest.ts
Labels: app-builder-lib

#9032 feat: customNsisResources override in nsis options
  .changeset/four-cheetahs-wash.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/app-builder-lib/src/targets/nsis/nsisOptions.ts
  packages/app-builder-lib/src/targets/nsis/nsisUtil.ts
Labels: nsis, app-builder-lib

#8995 chore(asar): use streaming to `electron/asar` to avoid writing extra temp app to disk
  .changeset/thirty-baboons-brush.md
  .github/workflows/test.yaml
  package.json
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/asar/asarUtil.ts
  packages/app-builder-lib/src/asar/integrity.ts
  pnpm-lock.yaml
  test/snapshots/globTest.js.snap
  test/src/BuildTest.ts
  test/src/globTest.ts
Labels: app-builder-lib

#9034 feat: add buildUniversalInstaller option to NSIS portable configuration
  .changeset/sweet-jeans-brake.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/targets/nsis/nsisOptions.ts
Labels: nsis, app-builder-lib

#9061 chore: migrate fpm packaging from app builder
  .changeset/late-drinks-drive.md
  packages/app-builder-lib/src/targets/FpmTarget.ts
  packages/app-builder-lib/src/targets/tools.ts
Labels: app-builder-lib

#9064 fix: update regex for multipart content-type parsing in multipleRange
  .changeset/purple-tigers-guess.md
  packages/electron-updater/src/differentialDownloader/multipleRangeDownloader.ts
Labels: electron-updater
