Repository electron-userland/electron-builder, pull requests merged in 2025-01, with the labels that each got.

#8762 fix: update @electron/asar to 3.2.18 to resolve signing issue with framework symlinks
  .changeset/cuddly-colts-laugh.md
  packages/app-builder-lib/package.json
  pnpm-lock.yaml
  test/snapshots/globTest.js.snap
Labels: app-builder-lib

#8725 fix: electron-builder fails when list of node_modules files is too big to pass in a glob
  .changeset/khaki-buckets-jog.md
  packages/app-builder-lib/src/asar/asarUtil.ts
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  test/snapshots/HoistedNodeModuleTest.js.snap
  test/snapshots/globTest.js.snap
  test/src/globTest.ts
Labels: nsis, app-builder-lib

#8782 fix(mac): always build dmg's with APFS (BREAKING)
  .changeset/cuddly-comics-cough.md
  packages/dmg-builder/src/dmg.ts
Labels: mac, dmg-builder

#8787 feat(docker): support `pwsh` for running codesigning
  .changeset/violet-dancers-bow.md
  .github/workflows/test.yaml
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/codeSign/windowsCodeSign.ts
  packages/app-builder-lib/src/codeSign/windowsSignAzureManager.ts
  packages/app-builder-lib/src/codeSign/windowsSignToolManager.ts
  packages/app-builder-lib/src/options/winOptions.ts
  packages/app-builder-lib/src/vm/PwshVm.ts
  packages/app-builder-lib/src/vm/vm.ts
  test/snapshots/windows/winCodeSignTest.js.snap
  test/src/windows/oneClickInstallerTest.ts
  test/src/windows/winCodeSignTest.ts
  test/src/windows/winPackagerTest.ts
Labels: windows, app-builder-lib

#8783 chore(deps): upgrade cross spawn to 7.0.6
  .changeset/old-poems-float.md
  packages/builder-util/package.json
  pnpm-lock.yaml
Labels: builder-util

#8799 fix(mac): only fuse macOS universal builds on the combined universal package
  .changeset/eighty-swans-hang.md
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/platformPackager.ts
  test/src/helpers/CheckingPackager.ts
Labels: mac, app-builder-lib

#8804 chore: add new tests for Asar Integrity
  packages/app-builder-lib/src/platformPackager.ts
  pnpm-lock.yaml
  test/package.json
  test/snapshots/PublishManagerTest.js.snap
  test/snapshots/mac/dmgTest.js.snap
  test/snapshots/mac/macPackagerTest.js.snap
  test/snapshots/updater/differentialUpdateTest.js.snap
  test/snapshots/windows/winPackagerTest.js.snap
  test/src/filesTest.ts
  test/src/helpers/packTester.ts
  test/src/mac/masTest.ts
  test/src/windows/winPackagerTest.ts
Labels: windows, app-builder-lib

#8802 fix(linux): AppImage update when filename contains spaces
  .changeset/beige-pillows-relate.md
  packages/electron-updater/src/AppImageUpdater.ts
  packages/electron-updater/src/BaseUpdater.ts
  packages/electron-updater/src/DebUpdater.ts
  packages/electron-updater/src/NsisUpdater.ts
  packages/electron-updater/src/PacmanUpdater.ts
  packages/electron-updater/src/RpmUpdater.ts
Labels: electron-updater

#8805 fix: ASAR files in `extraResources` are not included in integrity calculations
  .changeset/nine-cats-eat.md
  packages/app-builder-lib/src/asar/integrity.ts
  packages/app-builder-lib/src/platformPackager.ts
  test/fixtures/test-app-one/build/extraAsar.asar
  test/snapshots/mac/macPackagerTest.js.snap
  test/snapshots/windows/winPackagerTest.js.snap
  test/src/helpers/packTester.ts
  test/src/mac/macPackagerTest.ts
  test/src/windows/winPackagerTest.ts
Labels: windows, mac, app-builder-lib

#8813 fix: allow `skipLibCheck: false`
  .changeset/metal-bulldogs-film.md
  eslint.config.mjs
  packages/app-builder-lib/src/appInfo.ts
  packages/app-builder-lib/src/asar/asar.ts
  packages/app-builder-lib/src/binDownload.ts
  packages/app-builder-lib/src/codeSign/macCodeSign.ts
  packages/app-builder-lib/src/codeSign/signManager.ts
  packages/app-builder-lib/src/core.ts
  packages/app-builder-lib/src/electron/electronVersion.ts
  packages/app-builder-lib/src/fileMatcher.ts
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/options/PlatformSpecificBuildOptions.ts
  packages/app-builder-lib/src/options/SnapOptions.ts
  packages/app-builder-lib/src/options/metadata.ts
  packages/app-builder-lib/src/options/winOptions.ts
  packages/app-builder-lib/src/platformPackager.ts
  packages/app-builder-lib/src/publish/PublishManager.ts
  packages/app-builder-lib/src/targets/AppxTarget.ts
  packages/app-builder-lib/src/targets/FpmTarget.ts
  packages/app-builder-lib/src/targets/LinuxTargetHelper.ts
  packages/app-builder-lib/src/targets/pkg.ts
  packages/app-builder-lib/src/targets/snap.ts
  packages/app-builder-lib/src/util/appBuilder.ts
  packages/app-builder-lib/src/util/bundledTool.ts
  packages/app-builder-lib/src/util/config/config.ts
  packages/app-builder-lib/src/util/config/load.ts
  packages/app-builder-lib/src/util/license.ts
  packages/app-builder-lib/src/util/macroExpander.ts
  packages/app-builder-lib/src/util/packageMetadata.ts
  packages/app-builder-lib/src/util/yarn.ts
  packages/app-builder-lib/src/winPackager.ts
  packages/builder-util-runtime/src/httpExecutor.ts
  packages/builder-util-runtime/src/index.ts
  packages/builder-util-runtime/src/publishOptions.ts
  packages/builder-util-runtime/src/uuid.ts
  packages/builder-util-runtime/src/xml.ts
  packages/builder-util/src/fs.ts
  packages/builder-util/src/util.ts
  packages/dmg-builder/src/dmg.ts
  test/src/updater/differentialUpdateTest.ts
Labels: windows, mac, app-builder-lib, builder-util, dmg-builder

#8810 chore: migrate from `BluebirdPromise` to vanilla `Promise` API
  .changeset/modern-houses-move.md
  .github/workflows/test.yaml
  packages/app-builder-lib/package.json
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/asar/asarUtil.ts
  packages/app-builder-lib/src/asar/integrity.ts
  packages/app-builder-lib/src/codeSign/macCodeSign.ts
  packages/app-builder-lib/src/electron/ElectronFramework.ts
  packages/app-builder-lib/src/electron/electronMac.ts
  packages/app-builder-lib/src/fileMatcher.ts
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/platformPackager.ts
  packages/app-builder-lib/src/publish/PublishManager.ts
  packages/app-builder-lib/src/publish/updateInfoBuilder.ts
  packages/app-builder-lib/src/targets/AppxTarget.ts
  packages/app-builder-lib/src/targets/MsiTarget.ts
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/app-builder-lib/src/targets/nsis/nsisOptions.ts
  packages/app-builder-lib/src/util/NodeModuleCopyHelper.ts
  packages/app-builder-lib/src/util/appFileCopier.ts
  packages/app-builder-lib/src/util/cacheManager.ts
  packages/app-builder-lib/src/util/config/load.ts
  packages/builder-util/package.json
  packages/builder-util/src/fs.ts
  pnpm-lock.yaml
  test/src/windows/webInstallerTest.ts
Labels: mac, nsis, app-builder-lib, builder-util

#8820 chore: adding retry to `winPackagerTest`
  test/src/windows/winPackagerTest.ts
Labels: windows
