Repository electron-userland/electron-builder, pull requests merged in 2025-07, with the labels that each got.

#9177 fix: Use `spawn` without `shell: true` for node module collection
  .changeset/heavy-hats-wonder.md
  packages/app-builder-lib/src/codeSign/macCodeSign.ts
  packages/app-builder-lib/src/codeSign/windowsCodeSign.ts
  packages/app-builder-lib/src/codeSign/windowsSignToolManager.ts
  packages/app-builder-lib/src/node-module-collector/index.ts
  packages/app-builder-lib/src/node-module-collector/nodeModulesCollector.ts
  packages/app-builder-lib/src/node-module-collector/npmNodeModulesCollector.ts
  packages/app-builder-lib/src/node-module-collector/packageManager.ts
  packages/app-builder-lib/src/node-module-collector/pnpmNodeModulesCollector.ts
  packages/app-builder-lib/src/node-module-collector/yarnNodeModulesCollector.ts
  packages/app-builder-lib/src/util/appFileCopier.ts
  packages/builder-util-runtime/src/retry.ts
  packages/builder-util/src/log.ts
  packages/builder-util/src/util.ts
  packages/dmg-builder/src/hdiuil.ts
  packages/electron-updater/src/AppUpdater.ts
  test/src/helpers/packTester.ts
  test/src/linux/fpmTest.ts
Labels: windows, mac, electron-updater, app-builder-lib, builder-util, dmg-builder

#9196 fix(nsis): implement custom function to handle /D parameter with spaces
  .changeset/famous-berries-clap.md
  packages/app-builder-lib/templates/nsis/multiUser.nsh
Labels: app-builder-lib

#9186 feat(electron-updater): add GitLab provider
  .changeset/funny-bottles-occur.md
  packages/builder-util-runtime/src/httpExecutor.ts
  packages/builder-util-runtime/src/index.ts
  packages/builder-util-runtime/src/publishOptions.ts
  packages/electron-updater/src/providerFactory.ts
  packages/electron-updater/src/providers/GitLabProvider.ts
  test/snapshots/updater/nsisUpdaterTest.js.snap
  test/src/updater/nsisUpdaterTest.ts
Labels: electron-updater, builder-util

#9219 fix(yarn): check for dependencies in both projectDir and appDir during installation
  .changeset/rude-donuts-bathe.md
  packages/app-builder-lib/src/util/yarn.ts
Labels: app-builder-lib

#9222 fix(squirrel-windows): update loadingGif handling to prioritize user-defined option
  .changeset/lovely-geckos-chew.md
  packages/electron-builder-squirrel-windows/src/SquirrelWindowsTarget.ts
Labels: Squirrel.Windows

#9225 fix(electron-updater): Do not wrap update command when updating with sudo
  .changeset/sharp-elephants-shout.md
  packages/electron-updater/src/LinuxUpdater.ts
Labels: electron-updater
