Repository electron-userland/electron-builder, pull requests merged in 2025-06, with the labels that each got.

#9135 chore: stabilize hdiutil resize by using whole number byte size
  .changeset/violet-zoos-speak.md
  packages/dmg-builder/src/dmg.ts
  test/snapshots/mac/dmgTest.js.snap
  test/src/mac/dmgTest.ts
Labels: mac, dmg-builder

#9142 chore: adding additional docs to signAndEditExecutable for windows
  .changeset/mean-starfishes-deliver.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/winOptions.ts
  packages/builder-util/src/util.ts
  packages/dmg-builder/src/dmg.ts
Labels: windows, mac, app-builder-lib, builder-util, dmg-builder

#9145 chore: add additional stack trace to `electronDist` error message
  .changeset/mean-tigers-allow.md
  packages/app-builder-lib/src/electron/ElectronFramework.ts
  pnpm-lock.yaml
  test/package.json
  test/snapshots/ExtraBuildResourcesTest.js.snap
  test/src/ExtraBuildResourcesTest.ts
  test/src/helpers/packTester.ts
Labels: app-builder-lib

#9119 feat(nsis): add support for more Windows Installer options
  .changeset/witty-ghosts-kneel.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/targets/nsis/Defines.ts
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/app-builder-lib/src/targets/nsis/nsisOptions.ts
  packages/app-builder-lib/templates/nsis/include/installer.nsh
Labels: nsis, app-builder-lib

#9157 fix: `electronDist` - detect if directory and copy electron from there, short circuit current logic path
  .changeset/three-schools-beam.md
  .github/workflows/test.yaml
  packages/app-builder-lib/src/electron/ElectronFramework.ts
  test/snapshots/ExtraBuildResourcesTest.js.snap
  test/src/ExtraBuildResourcesTest.ts
  test/src/mac/macPackagerTest.ts
  test/src/windows/winCodeSignTest.ts
Labels: windows, mac, app-builder-lib

#9163 fix: resolve dmg flakiness by upgrading `dmgbuild` python vendor files
  .changeset/funny-horses-protect.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/targets/nsis/nsisOptions.ts
  packages/dmg-builder/package.json
  packages/dmg-builder/src/dmg.ts
  packages/dmg-builder/src/dmgUtil.ts
  packages/dmg-builder/vendor/.DS_Store
  packages/dmg-builder/vendor/biplist/__init__.py
  packages/dmg-builder/vendor/dmgbuild/__init__.py
  packages/dmg-builder/vendor/dmgbuild/__main__.py
  packages/dmg-builder/vendor/dmgbuild/badge.py
  packages/dmg-builder/vendor/dmgbuild/colors.py
  packages/dmg-builder/vendor/dmgbuild/core.py
  packages/dmg-builder/vendor/dmgbuild/licensing.py
  packages/dmg-builder/vendor/dmgbuild/resources/builtin-arrow.tiff
  packages/dmg-builder/vendor/ds_store/__init__.py
  packages/dmg-builder/vendor/ds_store/__main__.py
  packages/dmg-builder/vendor/ds_store/buddy.py
  packages/dmg-builder/vendor/ds_store/store.py
  packages/dmg-builder/vendor/mac_alias/__init__.py
  packages/dmg-builder/vendor/mac_alias/alias.py
  packages/dmg-builder/vendor/mac_alias/bookmark.py
  packages/dmg-builder/vendor/mac_alias/osx.py
  packages/dmg-builder/vendor/mac_alias/utils.py
  packages/dmg-builder/vendor/run_dmgbuild.py
  pnpm-lock.yaml
  test/snapshots/mac/dmgTest.js.snap
  test/src/helpers/CheckingPackager.ts
  test/src/mac/dmgTest.ts
Labels: mac, nsis, app-builder-lib, dmg-builder

#9150 chore: Update test snapshots
  package.json
  packages/dmg-builder/src/hdiuil.ts
  pnpm-lock.yaml
  test/snapshots/HoistedNodeModuleTest.js.snap
  test/snapshots/concurrentBuildsTest.js.snap
  test/snapshots/globTest.js.snap
  test/snapshots/linux/snapTest.js.snap
  test/snapshots/mac/dmgTest.js.snap
  test/snapshots/mac/macArchiveTest.js.snap
  test/snapshots/mac/macPackagerTest.js.snap
  test/snapshots/protonTest.js.snap
  test/snapshots/updater/blackboxUpdateTest.js.snap
  test/snapshots/updater/differentialUpdateTest.js.snap
  test/snapshots/windows/assistedInstallerTest.js.snap
  test/snapshots/windows/oneClickInstallerTest.js.snap
  test/snapshots/windows/webInstallerTest.js.snap
  test/snapshots/windows/winPackagerTest.js.snap
  test/src/helpers/packTester.ts
  test/src/helpers/runTests.ts
Labels: mac, dmg-builder

#9166 feat(nsis): added supports for uninstall components page
  .changeset/thin-geckos-dream.md
  packages/app-builder-lib/templates/nsis/installer.nsi
  packages/app-builder-lib/templates/nsis/uninstaller.nsh
  pages/nsis.md
Labels: app-builder-lib
