Repository electron-userland/electron-builder, pull requests merged in 2025-05, with the labels that each got.

#9024 fix(electron-updater): allow forceDevUpdateConfig also on Linux
  .changeset/shaggy-teachers-relax.md
  packages/electron-updater/src/AppImageUpdater.ts
Labels: electron-updater

#9083 fix(deps): update dependency @electron/osx-sign to v1.3.3
  .changeset/yellow-icons-dream.md
  packages/app-builder-lib/package.json
  pnpm-lock.yaml
Labels: app-builder-lib

#9038 refactor: improve resource directory handling for macOS
  .changeset/three-foxes-confess.md
  packages/app-builder-lib/src/electron/ElectronFramework.ts
  packages/app-builder-lib/src/platformPackager.ts
  test/snapshots/mac/macPackagerTest.js.snap
  test/src/mac/macPackagerTest.ts
Labels: mac, app-builder-lib

#9082 fix(deps): update dependency @electron/universal to v2.0.3
  .changeset/poor-planes-nail.md
  packages/app-builder-lib/package.json
  pnpm-lock.yaml
Labels: app-builder-lib

#9067 refactor: update package manager detection and improve type handling
  .changeset/blue-icons-push.md
  packages/app-builder-lib/src/node-module-collector/index.ts
  packages/app-builder-lib/src/node-module-collector/packageManager.ts
  packages/app-builder-lib/src/util/yarn.ts
  test/src/BuildTest.ts
  test/src/HoistedNodeModuleTest.ts
  test/src/globTest.ts
  test/src/ignoreTest.ts
Labels: app-builder-lib

#9115 fix(dmg): `--force` unmount dmg using hdiutil after delay on Resource Lock (code 16)
  .changeset/soft-pets-warn.md
  packages/dmg-builder/src/dmgUtil.ts
Labels: mac, dmg-builder

#9118 refactor(dmg): add human-readable hdiutil log messages and refactoring to only retry on transient error codes
  .changeset/old-games-wait.md
  .github/workflows/test.yaml
  packages/dmg-builder/src/dmgUtil.ts
  packages/dmg-builder/src/hdiuil.ts
  test/snapshots/mac/dmgTest.js.snap
  test/src/mac/dmgTest.ts
Labels: mac, dmg-builder

#9117 refactor: replace `is-ci` with `ci-info`
  .changeset/many-toys-yell.md
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/publish/PublishManager.ts
  packages/app-builder-lib/src/winPackager.ts
  packages/builder-util/package.json
  packages/builder-util/src/fs.ts
  packages/electron-builder/package.json
  packages/electron-builder/src/cli/cli.ts
  pnpm-lock.yaml
Labels: windows, app-builder-lib, builder-util

#9068 fix(linux): productName should be used as the default value when executableName is not set. (#8766)
  .changeset/silly-dolls-pretend.md
  packages/app-builder-lib/src/linuxPackager.ts
  test/snapshots/linux/debTest.js.snap
  test/src/linux/debTest.ts
Labels: linux, app-builder-lib
