Repository electron-userland/electron-builder, pull requests merged in 2025-02, with the labels that each got.

#8785 feat: Allow users to pass a custom headers URL
  .changeset/fresh-phones-return.md
  packages/app-builder-lib/src/util/yarn.ts
Labels: app-builder-lib

#8832 chore: fix unstable unit test
  test/src/windows/winPackagerTest.ts
Labels: windows

#8830 fix: handle yarn berry patch format in electron-updater version check
  .changeset/weak-owls-obey.md
  packages/app-builder-lib/src/util/packageMetadata.ts
Labels: app-builder-lib

#8829 feat: add `isUpdateAvailable` property to `checkForUpdates` result
  .changeset/fuzzy-trains-grab.md
  packages/electron-updater/src/AppUpdater.ts
  packages/electron-updater/src/main.ts
Labels: electron-updater

#8692 feat(updater): add custom `isUpdateSupported` hook for validating update downloads
  .changeset/smart-starfishes-invent.md
  packages/electron-updater/src/AppUpdater.ts
  packages/electron-updater/src/NsisUpdater.ts
  packages/electron-updater/src/main.ts
Labels: electron-updater

#8833 fix: upgrading TrustedSigning module to 0.5.0
  .changeset/tender-elephants-love.md
  packages/app-builder-lib/src/codeSign/windowsSignAzureManager.ts
Labels: windows, app-builder-lib

#8834 feat(pkg): support notarizing pkg for macos archives
  .changeset/slimy-masks-collect.md
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/targets/pkg.ts
Labels: mac, app-builder-lib

#8344 feat: use electron-winstaller instead of self module
  .changeset/breezy-seas-destroy.md
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/options/SquirrelWindowsOptions.ts
  packages/electron-builder-squirrel-windows/package.json
  packages/electron-builder-squirrel-windows/src/SquirrelWindowsTarget.ts
  packages/electron-builder-squirrel-windows/src/squirrelPack.ts
  packages/electron-builder-squirrel-windows/template.nuspectemplate
  pnpm-lock.yaml
  test/package.json
  test/snapshots/filesTest.js.snap
  test/src/helpers/packTester.ts
  test/typings/decompress-zip.d.ts
Labels: Squirrel.Windows, app-builder-lib

#8571 feat: switch app-builder-bin to node-module-collector to get all production node modules
  .github/workflows/test.yaml
  README.md
  packages/app-builder-lib/src/node-module-collector/hoist.ts
  packages/app-builder-lib/src/node-module-collector/index.ts
  packages/app-builder-lib/src/node-module-collector/nodeModulesCollector.ts
  packages/app-builder-lib/src/node-module-collector/npmNodeModulesCollector.ts
  packages/app-builder-lib/src/node-module-collector/packageManager.ts
  packages/app-builder-lib/src/node-module-collector/pnpmNodeModulesCollector.ts
  packages/app-builder-lib/src/node-module-collector/types.ts
  packages/app-builder-lib/src/node-module-collector/yarnNodeModulesCollector.ts
  packages/app-builder-lib/src/platformPackager.ts
  packages/app-builder-lib/src/util/appFileCopier.ts
  packages/app-builder-lib/src/util/packageDependencies.ts
  packages/app-builder-lib/src/util/yarn.ts
  packages/builder-util/src/util.ts
  test/fixtures/test-app-hoisted/index.html
  test/fixtures/test-app-hoisted/index.js
  test/fixtures/test-app-hoisted/package.json
  test/fixtures/test-app-yarn-hoisted/app/index.html
  test/fixtures/test-app-yarn-hoisted/app/index.js
  test/fixtures/test-app-yarn-hoisted/app/package.json
  test/fixtures/test-app-yarn-hoisted/app/path/app.asar
  test/fixtures/test-app-yarn-hoisted/build/icon.icns
  test/fixtures/test-app-yarn-hoisted/build/icon.ico
  test/fixtures/test-app-yarn-hoisted/package.json
  test/snapshots/BuildTest.js.snap
  test/snapshots/HoistedNodeModuleTest.js.snap
  test/snapshots/mac/macPackagerTest.js.snap
  test/src/BuildTest.ts
  test/src/HoistTest.ts
  test/src/HoistedNodeModuleTest.ts
  test/src/globTest.ts
  test/src/helpers/packTester.ts
Labels: app-builder-lib, builder-util

#8843 fix: Only update AppArmor profile if not chroot'ed
  .changeset/kind-items-clean.md
  packages/app-builder-lib/templates/linux/after-install.tpl
  test/snapshots/linux/debTest.js.snap
Labels: app-builder-lib

#8851 fix: Fix the issue of the missing ms package
  .changeset/many-lemons-press.md
  packages/app-builder-lib/src/node-module-collector/nodeModulesCollector.ts
  packages/app-builder-lib/src/node-module-collector/npmNodeModulesCollector.ts
  packages/app-builder-lib/src/node-module-collector/types.ts
  packages/app-builder-lib/src/node-module-collector/yarnNodeModulesCollector.ts
  test/snapshots/HoistedNodeModuleTest.js.snap
  test/src/HoistedNodeModuleTest.ts
Labels: app-builder-lib

#8864 fix: Detected circular dependencies and add debug logs for nodeModulesCollector
  .changeset/swift-hotels-exercise.md
  packages/app-builder-lib/src/node-module-collector/nodeModulesCollector.ts
  packages/app-builder-lib/src/node-module-collector/npmNodeModulesCollector.ts
  packages/app-builder-lib/src/node-module-collector/types.ts
  packages/app-builder-lib/src/node-module-collector/yarnNodeModulesCollector.ts
  test/snapshots/HoistedNodeModuleTest.js.snap
  test/src/HoistedNodeModuleTest.ts
Labels: app-builder-lib

#8869 fix: validate key before proceeding with deep assignment
  .changeset/fresh-rats-hide.md
  packages/builder-util/src/DebugLogger.ts
  packages/builder-util/src/deepAssign.ts
  packages/builder-util/src/mapper.ts
Labels: builder-util

#8855 fix: Sign the vendor directory instead of using Squirrel.Windows' signing method.
  .changeset/beige-dolls-boil.md
  .github/workflows/test.yaml
  packages/electron-builder-squirrel-windows/src/SquirrelWindowsTarget.ts
  test/snapshots/windows/squirrelWindowsTest.js.snap
  test/src/helpers/CheckingPackager.ts
  test/src/windows/squirrelWindowsTest.ts
Labels: Squirrel.Windows

#8817 feat(updater): Dispatch error in updater if spawnSync fails
  .changeset/metal-suns-smoke.md
  packages/electron-updater/src/BaseUpdater.ts
Labels: electron-updater

#8868 feat: allow usage of `.cjs`, `.mjs`, and `type=module` custom publishers
  .changeset/hip-weeks-allow.md
  .github/workflows/test.yaml
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/index.ts
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/platformPackager.ts
  packages/app-builder-lib/src/publish/PublishManager.ts
  packages/app-builder-lib/src/publish/updateInfoBuilder.ts
  packages/app-builder-lib/src/targets/AppImageTarget.ts
  packages/app-builder-lib/src/targets/AppxTarget.ts
  packages/app-builder-lib/src/targets/ArchiveTarget.ts
  packages/app-builder-lib/src/targets/FlatpakTarget.ts
  packages/app-builder-lib/src/targets/FpmTarget.ts
  packages/app-builder-lib/src/targets/MsiTarget.ts
  packages/app-builder-lib/src/targets/differentialUpdateInfoBuilder.ts
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/app-builder-lib/src/targets/pkg.ts
  packages/app-builder-lib/src/targets/snap.ts
  packages/app-builder-lib/src/util/asyncEventEmitter.ts
  packages/app-builder-lib/src/util/resolve.ts
  packages/dmg-builder/src/dmg.ts
  packages/electron-builder-squirrel-windows/src/SquirrelWindowsTarget.ts
  packages/electron-builder/src/publish.ts
  test/fixtures/build-hook.cjs
  test/fixtures/build-hook.mjs
  test/snapshots/BuildTest.js.snap
  test/src/ArtifactPublisherTest.ts
  test/src/BuildTest.ts
  test/src/helpers/packTester.ts
Labels: mac, Squirrel.Windows, nsis, app-builder-lib, dmg-builder

#8885 fix: allow usage of `node-linker=hoisted` with pnpm
  .changeset/lemon-moles-rhyme.md
  packages/app-builder-lib/src/node-module-collector/index.ts
  packages/app-builder-lib/src/node-module-collector/nodeModulesCollector.ts
  packages/app-builder-lib/src/node-module-collector/npmNodeModulesCollector.ts
  packages/app-builder-lib/src/node-module-collector/pnpmNodeModulesCollector.ts
  test/snapshots/HoistedNodeModuleTest.js.snap
  test/src/HoistedNodeModuleTest.ts
Labels: app-builder-lib

#8895 fix: `AsyncEventEmitter` `filterListeners` doesn't work with promises
  .changeset/few-zebras-swim.md
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/util/asyncEventEmitter.ts
Labels: app-builder-lib

#8899 test: adding fixtures for lockfiles to support `--frozen-lockfile` (yarn, pnpm) and `ci` (npm)
  .changeset/wise-seas-bathe.md
  packages/app-builder-lib/src/node-module-collector/index.ts
  packages/app-builder-lib/src/node-module-collector/nodeModulesCollector.ts
  packages/app-builder-lib/src/node-module-collector/npmNodeModulesCollector.ts
  packages/app-builder-lib/src/node-module-collector/pnpmNodeModulesCollector.ts
  packages/app-builder-lib/src/node-module-collector/yarnNodeModulesCollector.ts
  pnpm-lock.yaml
  test/fixtures/lockfiles/HoistedNodeModuleTest/npm electron-clear-data.txt
  test/fixtures/lockfiles/HoistedNodeModuleTest/npm tar.txt
  test/fixtures/lockfiles/HoistedNodeModuleTest/pnpm es5-ext without hoisted config.txt
  test/fixtures/lockfiles/HoistedNodeModuleTest/pnpm max stack.txt
  test/fixtures/lockfiles/HoistedNodeModuleTest/pnpm node-linker=hoisted.txt
  test/fixtures/lockfiles/HoistedNodeModuleTest/pnpm optional dependencies.txt
  test/fixtures/lockfiles/HoistedNodeModuleTest/pnpm public-hoist-pattern=.txt
  test/fixtures/lockfiles/HoistedNodeModuleTest/pnpm shamefully-hoist=true.txt
  test/fixtures/lockfiles/HoistedNodeModuleTest/yarn electron-clear-data.txt
  test/fixtures/lockfiles/HoistedNodeModuleTest/yarn max stack.txt
  test/fixtures/lockfiles/HoistedNodeModuleTest/yarn ms.txt
  test/fixtures/lockfiles/HoistedNodeModuleTest/yarn parse-asn1.txt
  test/fixtures/lockfiles/HoistedNodeModuleTest/yarn some module add by manual instead of install.txt
  test/fixtures/lockfiles/globTest/asarUnpack node_modules which has many modules.txt
  test/fixtures/lockfiles/globTest/asarUnpack node_modules.txt
  test/fixtures/lockfiles/globTest/exclude some modules when asarUnpack node_modules which has many modules.txt
  test/fixtures/lockfiles/globTest/failed peer dep.txt
  test/fixtures/lockfiles/globTest/ignore node_modules.txt
  test/fixtures/lockfiles/globTest/local node module with file protocol.txt
  test/fixtures/lockfiles/globTest/symlinks everywhere with static framework.txt
  test/fixtures/lockfiles/ignoreTest/copied sub node_modules of the rootDirnode_modules.txt
  test/fixtures/lockfiles/ignoreTest/ignore node_modules dev dep.txt
  test/package.json
  test/snapshots/HoistedNodeModuleTest.js.snap
  test/snapshots/globTest.js.snap
  test/src/BuildTest.ts
  test/src/HoistedNodeModuleTest.ts
  test/src/globTest.ts
  test/src/helpers/packTester.ts
Labels: app-builder-lib

#8896 fix: allow publishing to Snap Store to be disabled with snap specific publish options
  .changeset/three-doors-dream.md
  packages/app-builder-lib/src/targets/snap.ts
Labels: app-builder-lib

#8908 fix(mac): when using default `osx-sign`, specifically pass in identity name instead of hash
  .changeset/sixty-crabs-approve.md
  packages/app-builder-lib/src/macPackager.ts
Labels: mac, app-builder-lib

#8890 chore(plist): replace the plist functionality in app-builder-bin with plist
  .changeset/chilly-starfishes-lie.md
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/electron/electronMac.ts
  packages/app-builder-lib/src/frameworks/LibUiFramework.ts
  packages/app-builder-lib/src/targets/pkg.ts
  packages/app-builder-lib/src/util/plist.ts
  pnpm-lock.yaml
  test/src/helpers/packTester.ts
Labels: app-builder-lib

#8913 chore(refactor): electron-updater cyclical imports
  .changeset/khaki-sheep-bake.md
  packages/electron-updater/src/AppImageUpdater.ts
  packages/electron-updater/src/AppUpdater.ts
  packages/electron-updater/src/DebUpdater.ts
  packages/electron-updater/src/DownloadedUpdateHelper.ts
  packages/electron-updater/src/MacUpdater.ts
  packages/electron-updater/src/NsisUpdater.ts
  packages/electron-updater/src/PacmanUpdater.ts
  packages/electron-updater/src/RpmUpdater.ts
  packages/electron-updater/src/differentialDownloader/DifferentialDownloader.ts
  packages/electron-updater/src/differentialDownloader/downloadPlanBuilder.ts
  packages/electron-updater/src/main.ts
  packages/electron-updater/src/providers/BitbucketProvider.ts
  packages/electron-updater/src/providers/GenericProvider.ts
  packages/electron-updater/src/providers/GitHubProvider.ts
  packages/electron-updater/src/providers/KeygenProvider.ts
  packages/electron-updater/src/providers/PrivateGitHubProvider.ts
  packages/electron-updater/src/providers/Provider.ts
  packages/electron-updater/src/types.ts
  packages/electron-updater/src/windowsExecutableCodeSignatureVerifier.ts
Labels: windows, electron-updater
