Repository electron-userland/electron-builder, pull requests merged in 2025-03, with the labels that each got.

#8915 fix(win): execute `customUnInstall` before `atomicRMDir` function in NSIS uninstaller
  .changeset/spicy-cougars-type.md
  packages/app-builder-lib/templates/nsis/uninstaller.nsh
Labels: app-builder-lib

#8926 fix: fix custom publisher check and throw error if not found
  .changeset/eight-mails-bathe.md
  packages/app-builder-lib/src/publish/PublishManager.ts
Labels: app-builder-lib

#8932 fix: `after-install.tpl`: Detect if apparmor is enabled instead of just file-exists check
  .changeset/wise-apples-look.md
  packages/app-builder-lib/templates/linux/after-install.tpl
Labels: app-builder-lib

#8933 fix: re-export various types from electron-updater
  .changeset/light-pandas-reply.md
  packages/electron-updater/src/types.ts
Labels: electron-updater

#8941 fix: find cwd using `getProjectRootPath` for detecting package manager
  .changeset/old-shrimps-invite.md
  packages/app-builder-lib/src/node-module-collector/packageManager.ts
  packages/app-builder-lib/src/util/yarn.ts
Labels: app-builder-lib

#8947 fix: support `mas` packages for flipping fuses
  .changeset/bright-students-add.md
  packages/app-builder-lib/src/platformPackager.ts
Labels: app-builder-lib

#8979 fix: Azure trust signing fails with spaces in parameters
  .changeset/friendly-drinks-allow.md
  packages/app-builder-lib/src/codeSign/windowsSignAzureManager.ts
Labels: windows, app-builder-lib

#8987 fix: malformed Files param when using Azure Trusted Signing
  .changeset/perfect-pumpkins-repeat.md
  packages/app-builder-lib/src/codeSign/windowsSignAzureManager.ts
Labels: windows, app-builder-lib

#8962 chore(refactor): explore parallelization of builds
  .changeset/mighty-windows-wink.md
  .github/workflows/test.yaml
  .vscode/launch.json
  packages/app-builder-lib/scheme.json
  packages/app-builder-lib/src/configuration.ts
  packages/app-builder-lib/src/core.ts
  packages/app-builder-lib/src/macPackager.ts
  packages/app-builder-lib/src/packager.ts
  packages/app-builder-lib/src/platformPackager.ts
  packages/app-builder-lib/src/targets/AppxTarget.ts
  packages/app-builder-lib/src/targets/ArchiveTarget.ts
  packages/app-builder-lib/src/targets/MsiWrappedTarget.ts
  packages/app-builder-lib/src/targets/nsis/Defines.ts
  packages/app-builder-lib/src/targets/nsis/NsisTarget.ts
  packages/app-builder-lib/src/targets/pkg.ts
  packages/dmg-builder/src/dmg.ts
  packages/electron-builder-squirrel-windows/src/SquirrelWindowsTarget.ts
  test/snapshots/concurrentBuildsTest.js.snap
  test/snapshots/mac/dmgTest.js.snap
  test/src/concurrentBuildsTest.ts
  test/src/helpers/packTester.ts
  test/src/mac/dmgTest.ts
  test/src/mac/macPackagerTest.ts
Labels: mac, Squirrel.Windows, nsis, app-builder-lib, dmg-builder
