Repository electron-userland/electron-builder, pull requests merged in 2025-10, with the labels that each got.

#9209 feat(electron-publish): add gitlab publisher
  .changeset/silent-oranges-sniff.md
  .github/workflows/test.yaml
  packages/app-builder-lib/src/publish/PublishManager.ts
  packages/builder-util-runtime/src/index.ts
  packages/builder-util-runtime/src/publishOptions.ts
  packages/electron-publish/src/gitlabPublisher.ts
  packages/electron-publish/src/index.ts
  packages/electron-updater/src/AppUpdater.ts
  packages/electron-updater/src/providers/GitLabProvider.ts
  packages/electron-updater/src/providers/Provider.ts
  packages/electron-updater/src/util.ts
  test/src/publisher/gitlab/GitlabPublisher.integration.test.ts
  test/src/publisher/gitlab/GitlabPublisherTest.ts
  test/src/publisher/gitlab/GitlabTestFixtures.ts
  test/src/publisher/gitlab/GitlabTestHelper.ts
  test/src/updater/nsisUpdaterTest.ts
  test/src/urlUtilTest.ts
  vite.config.ts
Labels: Squirrel.Windows, electron-updater, app-builder-lib, electron-publish, builder-util

#9301 chore(deps): updating and pinning semver to 7.7.2
  .changeset/icy-vans-work.md
  packages/app-builder-lib/package.json
  packages/electron-updater/package.json
  pnpm-lock.yaml
  test/package.json
Labels: electron-updater, app-builder-lib

#9299 fix: utilize a js helper `dynamic-import.js` for trying `await import` and `require`
  .changeset/clever-buttons-double.md
  eslint.config.mjs
  packages/app-builder-lib/helpers/dynamic-import.d.ts
  packages/app-builder-lib/helpers/dynamic-import.js
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/util/resolve.ts
  tsconfig-base.json
Labels: app-builder-lib

#9285 chore(deps): update electron/rebuild to resolve node-gyp dependency issue
  .changeset/serious-rings-build.md
  packages/app-builder-lib/helpers/remote-rebuild.js
  packages/app-builder-lib/package.json
  packages/app-builder-lib/src/electron/electronVersion.ts
  packages/app-builder-lib/src/electron/search-module.ts
  packages/app-builder-lib/src/util/rebuild.ts
  packages/app-builder-lib/src/util/rebuild/remote-rebuild.ts
  packages/app-builder-lib/src/util/yarn.ts
  pnpm-lock.yaml
Labels: app-builder-lib
